<h1 class="title">Order</h1>
<h2 class="subtitle">Lorem ipsum dolor sit amet</h2>

<div class="columns" *ngIf="ready">
  <div class="column is-four-fifths">
    <article class="box" *ngFor="let item of order.items">
      <figure>
        <p class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
      </figure>
      <p>{{ item.title }}</p>
      <button (click)="remove(item)">remove</button>
    </article>
  </div>
  <div class="column">
    <p><strong>Grand total: </strong> {{ order.grandTotal }}</p>
  </div>
</div>

<form #checkoutForm="ngForm" (ngSubmit)="onSubmit(checkoutForm)">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Personal info</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded has-icons-left">
          <input
            required
            class="input"
            type="text"
            placeholder="Full name"
            [ngClass]="{'is-danger': !pickedName.valid && pickedName.touched}"
            [(ngModel)]="name"
            name="name"
            #pickedName="ngModel">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
        <p class="help is-danger" *ngIf="!pickedName.valid && pickedName.touched">This name is invalid</p>
      </div>

      <div class="field">
        <p class="control is-expanded has-icons-left has-icons-right">
          <input
            required
            class="input"
            type="email"
            placeholder="your@email.com"
            [ngClass]="{'is-danger': !pickedEmail.valid && pickedEmail.touched}"
            [(ngModel)]="email"
            name="email"
            #pickedEmail="ngModel">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
        <p class="help is-danger" *ngIf="!pickedEmail.valid && pickedEmail.touched">This name is invalid</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field is-expanded">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              +1
            </a>
          </p>
          <p class="control is-expanded">
            <input
              required
              class="input"
              type="tel"
              placeholder="Phone number"
              [ngClass]="{'is-danger': !pickedPhone.valid && pickedPhone.touched}"
              [(ngModel)]="phone"
              name="phone"
              #pickedPhone="ngModel">
          </p>
          <p class="help is-danger" *ngIf="!pickedPhone.valid && pickedPhone.touched">This name is invalid</p>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Payment</label>
    </div>
    <div class="field-body hero">
      <div id="card-info" #cardInfo></div>
      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit" [disabled]="!checkoutForm.form.valid">
            Enroll now
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
