@import "src/assets/styles/variables";

#survey-background-1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  z-index: -1;
}

.survey-container {
  padding: 0;
  margin: 0 auto;
  max-width: 770px;

  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.survey-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid $gray500;

  padding: 88px 0;
  margin: 0;

  &-image {
    filter: brightness(0);
    width: 190px;
  }
}

.survey-item {
  padding: 0;
  margin: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  &-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    max-width: 570px;
    margin: auto;

    button {
      min-width: 170px;
    }

    > * {
      margin: 28px 0;
    }
  }

  &-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 0 0 20px;

    &-index {
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;

      background-color: $gray400;
      border-radius: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0 1.5vw 0 0;
    }
  }

  &-answers {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    margin: 20px 0 12px;

    &-values {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .rating-button {
        border: 1px solid $gray500;
        border-radius: 4px;

        width: 68px;
        height: 68px;
        min-width: 68px;
        min-height: 68px;

        &.selected,
        &:hover {
          border: 1px solid $blue;
          color: $blue;
        }
      }

      .interest-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        padding: 16px;

        border: 1px solid $gray500;
        border-radius: 4px;

        width: 240px;
        min-width: 240px;

        &.selected,
        &:hover {
          border: 1px solid $blue;
          color: $blue;

          .interest-button-key {
            background-color: $blue;
            color: $white;
          }
        }

        &-key {
          width: 32px;
          height: 32px;
          min-width: 32px;
          min-height: 32px;

          margin: 0 16px 0 0;

          border-radius: 16px;
          background-color: $gray400;
          color: $black;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .comment-textarea {
        border: none;
        border-bottom: 1px solid $gray500;

        width: 100%;

        padding: 0 0 16px;

        height: 100%;
        resize: none;
      }
    }

    &-labels {
      color: $gray800;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin: 12px 0 0;

      .rating-label {
        width: 80px;
        max-width: 80px;

        text-align: center;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }

      .comment-key {
        color: $black;
      }
    }
  }
}

.survey-footer {
  width: 100%;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 0 120px;

  button {
    width: 128px;
  }

  &-intro {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-label {
      color: $gray800;
    }

    &-enter {
      color: $gray900;
    }
  }

  &-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-label {
      color: $gray800;
      margin: 4px 0;
    }

    &-bar {
      width: 232px;
      height: 4px;
      margin: 4px 0;
    }
  }
}

@media #{$tablet} {
  .survey-container {
    max-width: 570px;
  }

  .survey-item {
    &-answers {
      &-values {
        .rating-button {
          width: 52px;
          height: 52px;
          min-width: 52px;
          min-height: 52px;
        }

        .interest-button {
          width: 180px;
          min-width: 180px;
        }
      }
    }
  }
}

@media #{$mobile} {
  #survey-background-1 {
    display: none;
  }

  .survey-container {
    max-width: 300px;
  }

  .survey-logo {
    padding: 32px 0;
  }

  .survey-item {
    &-intro {
      button {
        width: 100%;
      }
    }

    &-question {
      flex-direction: column;
      justify-content: center;

      text-align: center;

      margin: 0 0 20px;

      &-index {
        margin: 0 0 16px;
      }
    }

    &-answers {
      margin: 20px 0 12px;

      &-values {
        flex-wrap: wrap;

        .rating-button {
          width: 52px;
          height: 52px;
          min-width: 52px;
          min-height: 52px;

          margin: 3px;

          &:hover {
            border: 1px solid $gray500;
            color: $black;
          }
        }

        .interest-button {
          margin: 8px 0;
          padding: 16px;

          width: 100%;
          min-width: 100%;

          &:hover {
            border: 1px solid $gray500;
            color: $black;

            .interest-button-key {
              background-color: $gray400;
              color: $black;
            }
          }
        }

        .comment-textarea {
          border: none;
          border-bottom: 1px solid $gray500;

          width: 100%;

          padding: 0 0 16px;

          height: 100%;
          resize: none;
        }
      }
    }
  }

  .survey-footer {
    padding: 0 0 120px;

    button {
      min-width: 128px;
    }

    &-progress {
      margin: 0 0 24px;
      padding: 0;

      &-bar {
        width: 100%;
      }
    }
  }
}
