{% extends 'shell.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title">
        Courses
      </h1>

      <ul>
        {% for course in courses %}
          <li><a href="{{ path('course', {slug: course.slug }) }}">{{ course.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
