<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Credentials</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded has-icons-left has-icons-right">
        <input name="register[email]" class="input" type="email" placeholder="Email" value="alex@smith.com">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input name="register[password]" class="input" type="password" placeholder="Password" required>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Phone</label>
  </div>
  <div class="field-body">
    <div class="field is-expanded">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            +44
          </a>
        </p>
        <p class="control is-expanded">
          <input class="input" type="tel" placeholder="Your phone number">
        </p>
      </div>
    </div>
  </div>
</div>

<input type="hidden" name="register[_token]" value="{{ csrf_token('register') }}"/>
