textarea,
input {
  min-width: 300px;
}

.author-avatar {
  margin: 20px 0;
}

.author-avatar label {
  font-weight: 500;
}

.account-profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 75px;

  margin: 10px 0;
}

textarea {
  min-height: 200px;
}
