<div class="screen-container">

  <img src='/assets/images/images/normal-background.png' alt="Olive Oil Times" class="background-image"
    id="background-1" />

  <app-header [lightHeader]="false"></app-header>

  <div class="row section course-detail-container spinner-wrapper" *ngIf="!dataLoaded">
    <span class="spinner-border" role="status" aria-hidden="true"></span>
  </div>

  <div class="row section course-detail-container" *ngIf="dataLoaded">
    <div class="col-12 course-detail-header">
      <div class="hero course-detail-city">
        {{ course.city }}
      </div>
      <div class="lg-subtitle course-detail-subtitle">
        Olive Oil Sommelier Certificate Program
      </div>
      <div class="course-rating">
        <img src="/assets/images/s-icons/star.png" />
        <div class="md-body-text">
          {{ course.rating.toFixed(2) }} ({{ course.count }} reviews)
        </div>
      </div>
    </div>

    <div class="col-12 course-detail-schedule-wrapper">
      <div class="course-detail-schedule row">
        <div class="course-detail-schedule-item col col-12 col-sm-6 col-lg-auto">
          <img src="/assets/images/s-icons/calendar.png" />
          {{course.start_date}}
        </div>

        <div class="course-detail-schedule-item col col-12 col-sm-6 col-lg-auto">
          <img src="/assets/images/s-icons/time.png" />
          9:00 AM - 4:00 PM
        </div>

        <div class="course-detail-schedule-item col col-12 col-sm-12 col-lg-auto">
          <img src="/assets/images/s-icons/map.png" />
          {{course.address}}
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-8 course-detail-content">
      <p class="lg-subtitle" [innerHTML]="course.content">
      </p>
      <div class="course-detail-enroll">
        <button (click)="enroll()" class="btn lg-cta lg-buttons"
          [disabled]="course.reserved_count >= course.spots || course.reserved">
          {{course.reserved ? "Already enrolled" : course.reserved_count >= course.spots ? "Sold out" : "Enroll in program"}}
        </button>

        <div class="lg-subtitle course-detail-price">
          ${{ course.options[0].price }}
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 course-detail-map">
      <mgl-map [style]="'mapbox://styles/mapbox/light-v10'" [center]="course.location" [zoom]="5">
        <mgl-marker [lngLat]="course.location">
          <div class="marker">
            <img src="/assets/images/s-icons/pin.png" />
          </div>
        </mgl-marker>
      </mgl-map>
    </div>

    <div class="col-12 course-detail-topics-wrapper">
      <div class="course-detail-topics">
        <h2 class="course-detail-topics-heading">
          Topics include:
        </h2>

        <div class="course-detail-topic-list row">
          <div *ngFor="let topic of course.topics; let i = index"
            class="course-detail-topic-item col-12 col-sm-5 {{ ( i > course.topics.length - 3) && 'course-detail-topic-item-with-no-border'}}">
            <div class="course-detail-topic-number sm-body-medium d-none d-lg-flex">
              {{i % 2 ? Math.floor((course.topics.length + i) / 2) + 1 : i / 2 + 1}}
            </div>
            <div class="course-detail-topic-title lg-body-text" data-toggle="tooltip" data-placement="top"
              title="{{topic.description}}">
              {{topic.topic}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 course-detail-instructors">
      <h2>
        Instructors
      </h2>

      <div class="course-details-instructor-list row">
        <div *ngFor="let instructor of course.instructors" class="col-12 col-sm-4 course-detail-instructor">
          <img
            src="{{(instructor.avatar === null || instructor.avatar === '') ? '/assets/images/images/courses/instructor.png' : instructor.avatar}}"
            class="course-detail-instructor-avatar" />
          <h5>
            {{instructor.name}}
          </h5>
          <div class="md-body-text">
            Description
          </div>
        </div>
      </div>
    </div>

    <div class="section col-12 row">
      <div class="course-testimonial-section row" *ngIf="course.testimonials && course.testimonials.length > 0">
        <h2 class="col-12 col-lg-7 order-0">
          What others are saying.
        </h2>

        <div class="col-12 order-lg-2">
          <div id="course-testimonials-gallery" class="carousel slide multi-item-carousel" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item {{i === 0 ? 'active' : ''}}"
                *ngFor="let item of course.testimonials; let i = index">
                <div class="item__third">
                  <div class="testimonial-item">
                    <div class="md-body-text">
                      "{{item.testimonial}}"
                    </div>
                    <div class="testimonial-author">
                      <img [src]="item.author_avatar" class="testimonial-author-avatar" />
                      <div class="testimonial-author-detail">
                        <h6>
                          {{item.author}}
                        </h6>

                        <div class="sm-body-text">
                          {{item.author_occupation}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-5 order-lg-1 course-testimonials-controls">
          <a href="#course-testimonials-gallery" class="left carousel-control-prev" role="button" data-slide="prev">
            <img src="/assets/images/arrows/right.png" />
          </a>

          <a href="#course-testimonials-gallery" class="right carousel-control-next" role="button" data-slide="next">
            <img src="/assets/images/arrows/left.png" />
          </a>
        </div>
      </div>
    </div>

  </div>

  <app-footer
    [status]="dataLoaded ? (course.reserved ? 'reserved' : course.reserved_count >= course.spots ? 'sold out' : 'available') : 'available'"
    [price]="dataLoaded ? course.options[0].price : 0" (enroll)="enroll()"></app-footer>

</div>
