@import "src/assets/styles/variables";

#background-1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 152px;
  z-index: -1;
}

.course-detail-container {
  padding: 0;
  margin: calc(156px + 1.25vw) 15.6vw 0;
}

.course-detail-icc-logo {
  max-width: 100%;
}

.course-detail-header {
  text-align: center;
  margin: 0 0 1.25vw;
  padding: 0 8.5vw;

  .course-detail-subtitle {
    margin: 1.375vw 0;
  }

  .course-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 2.75vw 0 0;

    img {
      margin: 0 18px 0 0;
    }
  }
}

.course-detail-schedule-wrapper {
  margin: 1.25vw 0 6vw;
}

.course-detail-schedule {
  border: 1px solid $gray500;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 1.25vw 0;
  margin: 0 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .course-detail-schedule-item {
    margin: 1.25vw 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      margin: 0 20px 0 0;
    }
  }
}

.course-detail-map {
  height: calc(300px + 11vw);

  border-radius: 16px;
  overflow: hidden;
  padding: 0;

  mgl-map {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }
}

.course-detail-enroll {
  margin: 40px 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .course-detail-price {
    margin-left: 45px;
  }
}

.course-detail-topics-wrapper {
  padding: 10vw 0 0;
}

.course-detail-topics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10vw 20vw;

  background: linear-gradient(180deg, #f8f8f9 0%, rgba(248, 248, 249, 0) 100%);

  width: 100vw;
  margin: 0 calc(-15px - 15.6vw);

  .course-detail-topics-heading {
    margin: 0 0 5vw;
  }
}

.course-detail-topic-list {
  justify-content: space-between;
  margin: 0;
}

.course-detail-topic-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;

  padding: 25px 0;

  border-bottom: 1px solid $gray500;

  &.course-detail-topic-item-with-no-border {
    border-bottom: none;
  }
}

.course-detail-topic-number {
  background-color: $gray900;
  width: 32px;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  border-radius: 16px;

  color: $white;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 24px 0 0;
}

.course-detail-instructors {
  padding: 10vw 0;
  border-top: 1px solid $gray500;
  border-bottom: 1px solid $gray500;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h2 {
    margin: 0 0 5vw 0;
  }
}

.course-details-instructor-list {
  justify-content: center;
}

.course-detail-instructor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h5 {
    margin: 2vw 0 0.5vw;
  }
}

.course-detail-instructor-avatar {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  border-radius: 16px;
}

.spinner-wrapper {
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media #{$tablet} {
  #background-1 {
    top: 112px;
  }

  .course-detail-container {
    margin: calc(112px + 3vw) 5.86vw 0;
  }

  .course-detail-content {
    padding: 0 11.6vw;
  }

  .course-detail-schedule {
    justify-content: flex-start;
    margin: 0 calc(11.6vw - 15px);

    .course-detail-schedule-item {
      justify-content: flex-start;
      margin: 1.25vw 0;
    }
  }

  .course-detail-topics {
    padding: 0 5vw 10vw calc(5vw + 15px);
    background: none;
    margin: 0 calc(-15px - 5.86vw);
  }
}

@media #{$mobile} {
  #background-1 {
    display: none;
  }

  .course-detail-container {
    margin: 96px 24px 0;
  }

  .course-detail-header {
    margin: 20px 0 40px;
    padding: 0;

    .course-detail-subtitle {
      margin: 24px 0;
    }
  }

  .course-detail-schedule-wrapper {
    padding: 0;
  }

  .course-detail-schedule {
    padding: 24px 16px;

    .course-detail-schedule-item {
      justify-content: flex-start;
    }
  }

  .course-detail-enroll {
    flex-direction: column;
    align-items: stretch;

    text-align: center;

    .course-detail-price {
      margin: 24px 0 0 0;
    }
  }

  .course-detail-map {
    height: 400px;

    border-radius: 0;
    overflow: visible;

    mgl-map {
      width: calc(100% + 48px);
      height: 100%;
      border-radius: 0;

      margin: 0 -24px;
    }
  }

  .course-detail-topics {
    padding: 0 24px 10vw 39px;
    background: none;
    margin: 0 -39px;
  }

  .course-detail-topic-item {
    &.course-detail-topic-item-with-no-border {
      border-bottom: 1px solid $gray500;
    }
  }
}

.course-testimonial-section {
  margin-top: 11vw;
  margin-right: calc(-15.6vw - 30px);

  .course-testimonials-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    padding: 0 50px 0 0;

    .carousel-control-prev.left,
    .carousel-control-next.right {
      position: relative;

      width: 54px;
      height: 54px;

      margin: 0 12px;

      background-color: $white;
      opacity: 1;

      border: 1px solid $gray500;
      box-sizing: border-box;
      border-radius: 48px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}

#course-testimonials-gallery.multi-item-carousel {
  overflow: hidden;
  background-color: transparent;

  .carousel-item {
    img {
      height: auto;
      width: 90%;
      margin: auto 5%;
      border-radius: 16px;

      @media #{$mobile} {
        width: 100%;
        margin: auto;
        border-radius: 0;
      }

      background-color: transparent;
    }

    background-color: transparent;
  }

  .carousel-inner {
    width: 100%;
    left: 0%;
    padding: 4.5vw 0 10.5vw;

    @media #{$mobile} {
      width: 300%;
      left: -100%;
      padding: 16vw 0 47.3vw;
    }
  }

  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
  }

  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
  }

  .item__third {
    float: left;
    position: relative;
    /* captions can now be added */
    width: 33.33333333%;
  }

  .testimonial-item {
    margin: 15px;
    border: 1px solid $gray500;
    box-sizing: border-box;
    border-radius: 16px;

    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: 260px;

    .testimonial-author {
      width: 100%;
      margin: 32px 0 0;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .testimonial-author-avatar {
        width: 64px;
        height: 64px;
        max-width: 64px;
        max-height: 64px;
        min-width: 64px;
        min-height: 64px;

        margin: 0 24px 0 0;
      }

      .testimonial-author-detail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
      }
    }
  }
}

@media #{$tablet} {
  .course-testimonial-section {
    margin-left: -3vw;
    margin-right: -6vw;

    h2 {
      text-align: center;
    }

    .course-testimonials-controls {
      justify-content: center;
    }
  }

  #course-testimonials-gallery.multi-item-carousel {
    .carousel-inner {
      width: 150%;
      left: 0%;
      padding: 4.5vw 0 5.2vw;
    }
  }
}

@media #{$mobile} {
  .course-testimonial-section {
    width: 90vw;
    margin-left: -3vw;
    margin-right: -6vw;

    h2 {
      text-align: center;
    }

    .course-testimonials-controls {
      justify-content: center;
    }
  }

  #course-testimonials-gallery.multi-item-carousel {
    .carousel-inner {
      width: 300%;
      left: 0%;
      padding: 4.5vw 0 5.2vw;
    }
  }
}
