<div class="screen-container">

  <img src='/assets/images/images/normal-background.png' alt="Olive Oil Times" class="background-image"
    id="invoice-background-1" />

  <app-header [lightHeader]="false"></app-header>

  <div class="row section invoice-container">

    <div class="col-12 row invoice-pdf">
      <div class="col-12 row invoice-pdf-content sm-body-text">
        <div class="col-7 invoice-pdf-content-logo">
          <img src="/assets/logos/logo.png" />
        </div>
        <div class="col-5 invoice-pdf-content-sender">
          <div class="sm-body-medium">
            Olive Oil Times Education Lab
          </div>
          <div>
            Box 3639 <br />
            Newport, RI 02840 USA <br />
            Olive Oil Times LLC EIN: 82-4085678 <br /> <br />

            Email: support@oliveoilschool.org <br />
            Phone: (+1) 212 729-3600 <br />
          </div>
        </div>

        <div class="col-12 invoice-pdf-content-subtitle">
          <h5>
            INVOICE
          </h5>
        </div>

        <div class="col-7 invoice-pdf-content-receiver">
          <div>
            Lucas Soler <br />
            Almeria Grove <br />
            2924 Landon Ridge Drive <br />
            New Hill, NC 27562
          </div>
        </div>

        <div class="col-5 invoice-pdf-content-details">
          <div>
            Invoice Number: 4082 <br />
            Invoice Date: February 28, 2020 <br />
            Order Number: 4027 <br />
            Order Date: February 28, 2020 <br />
            Payment Method: Credit Card
          </div>
        </div>

        <div class="col-12 invoice-pdf-content-products-header row">
          <div class="col-7 sm-body-medium">
            Product
          </div>
          <div class="col-5 row invoice-pdf-content-products-header-price">
            <div class="col-6 sm-body-medium">
              Quantity
            </div>
            <div class="col-6 sm-body-medium">
              Price
            </div>
          </div>
        </div>

        <div class="col-12 invoice-pdf-content-products-item row">
          <div class="col-7">
            New York - May, 2020
            <div class="invoice-pdf-content-products-item-sku">
              SKU: NY20
            </div>
          </div>
          <div class="col-5 row invoice-pdf-content-products-item-price">
            <div class="col-6">
              1
            </div>
            <div class="col-6">
              $2800
            </div>
          </div>
        </div>

        <div class="col-7"></div>

        <div class="col-5 invoice-pdf-content-subtotal row">
          <div class="col-6 sm-body-medium">
            Subtotal
          </div>
          <div class="col-6">
            $2800
          </div>
        </div>

        <div class="col-7"></div>

        <div class="col-5 invoice-pdf-content-total row">
          <div class="col-6 sm-body-medium">
            Total
          </div>
          <div class="col-6 sm-body-medium">
            $2800
          </div>
        </div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>
