// Typography
$clr-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$clr-monoFont: "Inconsolata", "Consolas", "Monaco", monospace;
$clr-table-fontsize: 0.75rem;
$clr-thead-font-size: 0.75rem;

$clr-p1-font-size: 0.8rem;
$clr-p2-font-size: 0.75rem;
$clr-p3-font-size: 0.75rem;
$clr-p4-font-size: 0.75rem;
$clr-p5-font-size: 0.75rem;
$clr-p6-font-size: 0.75rem;

.deleted-row {
  background-color: #f0f0f0;
  color: #bfbfbf;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.page-header {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.content-area {
  padding: 0.5rem 1.2rem 1.2rem !important;
}

.item-title {
  cursor: pointer;
  color: #0077b8;
}

// Clarity
@import "../node_modules/@clr/ui/src/utils/components.clarity";

textarea,
input {
  min-width: 300px;
}
