# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry

# Application
bin/setup*
log/
build/
dist/
node_modules/
admin/node_modules/
frontend/node_modules/
backend/public/build/
backend/public/bundles/
backend/public/assets/
backend/public/admin
var/
vendor/
.env
.web-server-pid
npm-debug.log
yarn-error.log
.php_cs.cache
.phpunit
.phpunit.result.cache
phpunit.xml
proxy.conf.json

package.lock.json
yarn.lock
composer.lock