# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry

# Application
bin/setup
log/
build/
dist/
node_modules/
public/build/
public/bundles/
public/assets/
public/admin
var/
vendor/
.env
.web-server-pid
npm-debug.log
yarn-error.log
.php_cs.cache
.phpunit
.phpunit.result.cache
phpunit.xml
