dist/
build/
node_modules/
vendor/
var/
public/assets/
public/admin/
provisioning/.terraform/
frontend/package-lock.json
frontend/package.json
admin/package-lock.json
admin/package.json
composer.json
composer.lock
package.json
package-lock.json
