node_modules/

backend/dist/
backend/build/
backend/config/services.yaml
backend/vendor/
backend/var/
backend/composer.json
backend/composer.lock

customer/package-lock.json
customer/package.json

admin/package-lock.json
admin/package.json

build/

package.json
package-lock.json

README.md