backend/dist/
backend/build/
node_modules/
backend/vendor/
backend/var/
backend/public/assets/
backend/public/admin/
provisioning/.terraform/
frontend/package-lock.json
frontend/package.json
admin/package-lock.json
admin/package.json
backend/composer.json
backend/composer.lock
package.json
package-lock.json
backend/config/services.yaml
