parameters:
    level: 7
    paths:
        - src
    ignoreErrors:
        - '/Parameter #1 \$seqname of method PDO::lastInsertId/'
        - '/Negated boolean expression is always false./'
        - '/LoginFormAuthenticator/'
        - '/Parameter \#1 \$apiKey of static method Stripe\\Stripe\:\:setApiKey/'
        - '/expects App\\Security\\Customer, object given/'
