<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" [(clrDgSelected)]="selected">
  <clr-dg-placeholder>No students found.</clr-dg-placeholder>

  <clr-dg-action-bar>
    <button type="button" class="btn btn-secondary" (click)="onCreate()">
      <clr-icon shape="file"></clr-icon> Create student
    </button>

    <div class="btn-group">
      <button type="button" class="btn btn-secondary" (click)="onEdit()" *ngIf="selected.length == 1">
        <clr-icon shape="pencil"></clr-icon> Edit
      </button>
      <button type="button" class="btn btn-secondary" (click)="onDelete()">
        <clr-icon shape="trash"></clr-icon> Delete
      </button>
      <button type="button" class="btn btn-secondary" (click)="onRestore()">
        <clr-icon shape="undo"></clr-icon> Restore
      </button>
    </div>

    <clr-dropdown>
      <button type="button" class="btn btn-secondary" clrDropdownTrigger>
        Export
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
        <button type="button" (click)="onExportAll()" clrDropdownItem>Export all</button>
        <button type="button" (click)="onExportSelected()" [disabled]="selected.length === 0" clrDropdownItem>Export
          selected</button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </clr-dg-action-bar>

  <clr-dg-column [clrDgField]="'firstName'">First Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'lastName'">Last Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'login'">Login</clr-dg-column>
  <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
  <clr-dg-column [clrDgField]="'acceptsMarketing'">Accepts marketing?</clr-dg-column>
  <clr-dg-column [clrDgField]="'created_at'">Created at</clr-dg-column>
  <clr-dg-column [clrDgField]="'registeredAt'">Registered at</clr-dg-column>
  <clr-dg-column [clrDgField]="'updated_at'">Updated at</clr-dg-column>
  <clr-dg-column [clrDgField]="'deleted_at'">Deleted at</clr-dg-column>
  <clr-dg-column [clrDgField]="'birthDate'">Birth Date</clr-dg-column>

  <clr-dg-row *ngFor="let student of students" [clrDgItem]="student"
    [ngClass]="{'deleted-row': student.deletedAt != null}">
    <clr-dg-cell>{{student.firstName}}</clr-dg-cell>
    <clr-dg-cell>{{student.lastName}}</clr-dg-cell>
    <clr-dg-cell>{{student.login}}</clr-dg-cell>
    <clr-dg-cell>{{student.status}}</clr-dg-cell>
    <clr-dg-cell>{{student.acceptsMarketing}}</clr-dg-cell>
    <clr-dg-cell>{{student.createdAt | date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{student.registeredAt | date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{student.updatedAt | date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{student.deletedAt | date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{student.birthDate | date:'short'}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
    of {{total}} students ({{deleted}} deleted)
    <clr-dg-pagination #pagination [clrDgTotalItems]="total"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="showCreateStudent" [clrModalSize]="'md'">
  <h3 class="modal-title">Create student</h3>
  <div class="modal-body">
    <admin-create-student (finished)="onContentUpdated()" type="type"></admin-create-student>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showEditStudent" [clrModalSize]="'md'">
  <h3 class="modal-title">Edit student</h3>
  <div class="modal-body">
    <admin-create-student [(update)]="singleSelection" (finished)="onContentUpdated()" type="type">
    </admin-create-student>
  </div>
</clr-modal>
