<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" [(clrDgSelected)]="selected">
  <clr-dg-placeholder>No courses found.</clr-dg-placeholder>

  <clr-dg-action-bar>
    <button type="button" class="btn btn-secondary" (click)="onCreate()">
      <clr-icon shape="pencil"></clr-icon> Create course
    </button>

    <div class="btn-group" *ngIf="selected.length == 1">
      <button type="button" class="btn btn-secondary" (click)="onOptions()">
        <clr-icon shape="shopping-cart"></clr-icon> Manage Options
      </button>
      <button type="button" class="btn btn-secondary" (click)="onInstructors()">
        <clr-icon shape="users"></clr-icon> Manage Instructors
      </button>
      <button type="button" class="btn btn-secondary" (click)="onReviews()">
        <clr-icon shape="line-chart"></clr-icon> Manage Reviews
      </button>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-secondary" (click)="onEdit()" *ngIf="selected.length == 1">
        <clr-icon shape="pencil"></clr-icon> Edit
      </button>
      <button type="button" class="btn btn-secondary" (click)="onDelete()" *ngIf="selected.length > 0">
        <clr-icon shape="trash"></clr-icon> Delete
      </button>
      <button type="button" class="btn btn-secondary" (click)="onRestore()" *ngIf="selected.length > 0">
        <clr-icon shape="undo"></clr-icon> Restore
      </button>
    </div>

    <clr-dropdown>
      <button type="button" class="btn btn-secondary" clrDropdownTrigger>
        Export
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
        <button type="button" (click)="onExportAll()" clrDropdownItem>Export all</button>
        <button type="button" (click)="onExportSelected()" [disabled]="selected.length === 0" clrDropdownItem>Export
          selected</button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </clr-dg-action-bar>

  <clr-dg-column [clrDgField]="'title'">Title</clr-dg-column>
  <clr-dg-column [clrDgField]="'slug'">Slug</clr-dg-column>
  <clr-dg-column [clrDgField]="'city'">City</clr-dg-column>
  <clr-dg-column [clrDgField]="'spots'">Spots</clr-dg-column>
  <clr-dg-column [clrDgField]="'startDate'">Start date</clr-dg-column>
  <clr-dg-column [clrDgField]="'lastDate'">Last date</clr-dg-column>
  <clr-dg-column [clrDgField]="'created_at'">Created at</clr-dg-column>
  <clr-dg-column [clrDgField]="'updated_at'">Last update</clr-dg-column>
  <clr-dg-column [clrDgField]="'deleted_at'">Deleted?</clr-dg-column>

  <clr-dg-row *ngFor="let course of courses" [clrDgItem]="course" [ngClass]="{'deleted-row': course.deletedAt != null}">
    <clr-dg-cell (click)="onEdit(course.id)" class="item-title">{{course.title}}</clr-dg-cell>
    <clr-dg-cell>{{course.slug}}</clr-dg-cell>
    <clr-dg-cell>{{course.city}}</clr-dg-cell>
    <clr-dg-cell>{{course.spots}}</clr-dg-cell>
    <clr-dg-cell>{{course.startDate | date:'MM/dd/yyyy'}}</clr-dg-cell>
    <clr-dg-cell>{{course.lastDate | date:'MM/dd/yyyy'}}</clr-dg-cell>
    <clr-dg-cell>{{course.createdAt | date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{course.updatedAt | date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{course.deletedAt | date:'short'}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
    of {{total}} courses ({{deleted}} deleted)
    <clr-dg-pagination #pagination [clrDgTotalItems]="total"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
