<form (ngSubmit)="submit()" class="row col-12 card-container">
  <div class="card-form row col-12">
    <div class="col-12 card-form-header">
      <h6>Credit Card</h6>

      <span class="brand card-form-header-brand">
        <img src="{{brandIcon}}" class="card-form-header-brand-icon">
      </span>
    </div>
    <div class="col-12 row card-form-body">
      <div class="col-12 card-form-body-field">
        <span class="sm-body-text card-form-body-field-label">Card number</span>
        <div id="card-number-element" class="field md-body-text card-form-body-field-input"></div>
      </div>

      <div class="col-12 col-lg-6 card-form-body-field">
        <span class="sm-body-text card-form-body-field-label">Expiry date</span>
        <div id="card-expiry-element" class="field md-body-text card-form-body-field-input"></div>
      </div>

      <div class="col-12 col-lg-6 card-form-body-field">
        <span class="sm-body-text card-form-body-field-label">Card Code (CVC)</span>
        <div id="card-cvc-element" class="field md-body-text card-form-body-field-input"></div>
      </div>
    </div>
  </div>

  <div class="col-12 card-disclaimer md-body-text">
    <img src="/assets/images/s-icons/success.png" class="card-disclaimer-icon" />
    I have read and agree to the website <a routerLink="/terms" target="_blank" rel="noopener noreferer"
      class="card-disclaimer-text-link">terms and conditions</a>.
  </div>

  <button class="btn col-12 md-cta lg-buttons submit-button" type="submit">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!loading"></span>
    {{buttonLabel}}
  </button>

  <div class="col-12 card-disclaimer-bottom md-body-text">
    Your personal data will be used to process your order, and for other purposes described in our privacy policy.
  </div>
</form>