<form clrForm [formGroup]="faqForm" clrLayout="vertical" (ngSubmit)="onSubmit()" *ngIf="!loading">
  <clr-input-container>
    <label>Title</label>
    <input clrInput type="text" formControlName="title" required />
    <clr-control-error>The Title is required</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Content</label>
    <input clrInput type="text" formControlName="content" required />
    <clr-control-error>The Content is required</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Course</label>
    <input clrInput type="text" formControlName="course" />
  </clr-input-container>

  <button class="btn btn-primary" type="submit" [disabled]="!faqForm.valid" *ngIf="!loading">Submit</button>
</form>

<clr-spinner *ngIf="loading"></clr-spinner>
