<form clrForm [formGroup]="faqForm" clrLayout="vertical" (ngSubmit)="onSubmit()" *ngIf="!loading">
  <clr-input-container>
    <label>Title</label>
    <input clrInput type="text" formControlName="title" required />
    <clr-control-error>The title is required</clr-control-error>
  </clr-input-container>
  <clr-select-container>
    <label>Course</label>
    <select clrSelect formControlName="course">
      <option *ngFor="let course of courses" value="{{ course.id }}">{{ course.title }}</option>
    </select>
    <clr-control-helper>Specify if this FAQ belongs to a specific course</clr-control-helper>
  </clr-select-container>
  <clr-textarea-container>
    <label>Content</label>
    <textarea clrTextarea formControlName="content"></textarea>
  </clr-textarea-container>

  <button class="btn btn-primary pull-right" type="submit" [disabled]="!faqForm.valid" *ngIf="!loading">Submit</button>
</form>

<clr-spinner *ngIf="loading"></clr-spinner>
