@import "src/assets/styles/variables";

// Navbar toggler
.custom-toggler {
  .navbar-toggler-icon {
    background-image: url(/assets/images/s-icons/navbar-toggler.png);
  }

  .navbar-close-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;

    background-image: url(/assets/images/s-icons/navbar-close.png);
  }
}

.navbar-toggler.collapsed > .navbar-close-icon,
.navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
  display: none;
}

.navbar-toggler {
  padding: 16px 4px;
  outline: none;
  box-shadow: none;
}

// Normal header styles
.header {
  color: $gray900;
  position: absolute;

  transition: all 0.1s ease-out;

  @media #{$desktop} {
    padding: 24px 16px 8px;
  }

  .header-logo {
    margin: 26px 40px 26px 32px;
    padding: 0px;

    @media #{$mobile} {
      margin: 8px 0;
    }
  }

  .header-navbar {
    @media #{$desktop} {
      margin: 25px 0px;
    }

    @media #{$smallScreen} {
      padding: 25px 0px;
    }
  }

  .nav-link {
    padding: 0 16px;
    color: $gray900;
  }

  .dropdown-icon {
    margin: 0px 3px;
  }

  .dropdown-menu {
    margin-left: -15px;
  }

  .user-nav {
    align-items: center;
  }
}

@media #{$smallScreen} {
  .navbar {
    background-color: white;
  }
}

// Light header styles
.light-header {
  background-color: transparent;

  .header-logo {
    filter: brightness(100);
  }

  @media #{$desktop} {
    .navbar-toggler-icon {
      filter: brightness(100);
    }

    .color-change-navbar .nav-link {
      color: $white;
    }

    .dropdown-icon {
      filter: brightness(100);
    }
  }

  @media #{$mobile} {
    .navbar-toggler-icon {
      filter: brightness(100);
    }
  }
}

@media #{$smallScreen} {
  .header .nav-link {
    text-align: center;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
  }

  .dropdown-item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }

  .user-nav {
    margin-top: 126px;

    .navbar-btn {
      padding: 22px 36px;

      font-weight: bold;
      font-size: 17px;
      line-height: 20px;

      &:hover {
        color: $blue;
      }
    }
  }

  .nav-item {
    margin: 12px 8px;
  }
}

nav.sticky-header {
  background-color: $white;

  .header-logo {
    filter: none;
  }

  @media #{$desktop} {
    .color-change-navbar .nav-link {
      color: $gray900;
    }

    .dropdown-icon {
      filter: none;
    }

    .dropdown-menu {
      padding-top: 50px;

      transition: all 0.1s ease-in;
    }
  }

  .navbar-toggler-icon {
    filter: none;
  }

  position: fixed !important;
  padding-top: 8px;
  box-shadow: 0px 8px 56px rgba(30, 30, 30, 0.06);

  transition: all 0.1s ease-in;
}
