<form clrForm [formGroup]="notificationForm" clrLayout="vertical" (ngSubmit)="onSubmit()" *ngIf="!loading">
  <clr-input-container>
    <label>Course</label>
    <input clrInput type="text" formControlName="course" />
  </clr-input-container>
  <clr-input-container>
    <label>Title</label>
    <input clrInput type="text" formControlName="title" required />
    <clr-control-error>The Title is required</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Content</label>
    <input clrInput type="text" formControlName="content" />
  </clr-input-container>
  <clr-input-container>
    <label>Content Rich</label>
    <input clrInput type="text" formControlName="contentRich" />
  </clr-input-container>
  <clr-input-container>
    <label>Type</label>
    <input clrInput type="text" formControlName="type" required />
    <clr-control-error>The Type is required</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Event</label>
    <input clrInput type="text" formControlName="event" required />
    <clr-control-error>The Event is required</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>From Email</label>
    <input clrInput type="text" formControlName="fromEmail" />
  </clr-input-container>
  <clr-input-container>
    <label>From Name</label>
    <input clrInput type="text" formControlName="fromName" />
  </clr-input-container>
  <clr-input-container>
    <label>From Number</label>
    <input clrInput type="text" formControlName="fromNumber" />
  </clr-input-container>

  <button class="btn btn-primary" type="submit" [disabled]="!notificationForm.valid" *ngIf="!loading">Submit</button>
</form>

<clr-spinner *ngIf="loading"></clr-spinner>
