<form clrForm [formGroup]="categoryForm" clrLayout="vertical" (ngSubmit)="onSubmit()" *ngIf="!loading">
  <clr-input-container>
    <label>Name</label>
    <input clrInput type="text" formControlName="name" required />
    <clr-control-error>The name is required</clr-control-error>
  </clr-input-container>

  <clr-select-container>
    <label>Parent</label>
    <select clrSelect formControlName="parent">
      <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
    </select>
    <clr-control-helper>Specify if this category is a child of another</clr-control-helper>
  </clr-select-container>

  <button class="btn btn-primary pull-right" type="submit" [disabled]="!categoryForm.valid" *ngIf="!loading">Submit</button>
</form>

<clr-spinner *ngIf="loading"></clr-spinner>
