<div class="screen-container">

  <img src='/assets/images/images/normal-background.png' alt="Olive Oil Times" class="background-image"
    id="contact-background-1" />

  <app-header [lightHeader]="false"></app-header>

  <div class="contact-container">
    <div class="row section contact-heading-section">
      <div class="col-sm-12 hero contact-heading-title">
        Ask Away
      </div>
      <div class="col-sm-12 lg-subtitle contact-heading-subtitle">
        We're ready to help.
      </div>
    </div>

    <div class="section contact-info-section">
      <div class="contact-info-card">
        <img src="/assets/images/images/contact/icons/support.png" class="contact-icon" />
        <h5>Live Support</h5>
        <button class="md-text-link text-link slaask-open-widget">
          Chat now
          <img src="/assets/images/arrows/right.png" />
        </button>
      </div>

      <div class="contact-info-card">
        <img src="/assets/images/images/contact/icons/phone.png" class="contact-icon" />
        <h5>Phone</h5>
        <a href="tel:12127293600" class="md-text-link text-link">
          +1 (212) 729-3600
        </a>
      </div>

      <div class="contact-info-card">
        <img src="/assets/images/images/contact/icons/email.png" class="contact-icon" />
        <h5>Email</h5>
        <a href="mailto:learn@oliveoilschool.org" class="md-text-link text-link">
          learn@oliveoilschool.org
        </a>
      </div>
    </div>

    <div class="row section contact-next-course-section">
      <h6 class="contact-next-course-begins">
        The next course begins in:
      </h6>

      <div class="col-sm-12 contact-next-course-time">
        <div class="contact-next-course-time-card">
          <div class="contact-time-element">
            <h4>{{days}}</h4>
            <div class="sm-body-text d-none d-lg-block">
              Day(s)
            </div>
          </div>

          <div class="sm-body-text d-block d-lg-none">
            Day<br class="d-block d-sm-none" />(s)
          </div>
        </div>

        <div class="col-sm-0 d-none d-lg-block contact-time-colon">
          :
        </div>

        <div class="contact-next-course-time-card">
          <div class="contact-time-element">
            <h4>{{hours}}</h4>
            <div class="sm-body-text d-none d-lg-block">
              Hour(s)
            </div>
          </div>

          <div class="sm-body-text d-block d-lg-none">
            Hour<br class="d-block d-sm-none" />(s)
          </div>
        </div>

        <div class="col-sm-0 d-none d-lg-block contact-time-colon">
          :
        </div>

        <div class="contact-next-course-time-card">
          <div class="contact-time-element">
            <h4>{{minutes}}</h4>
            <div class="sm-body-text d-none d-lg-block">
              Minute(s)
            </div>
          </div>

          <div class="sm-body-text d-block d-lg-none">
            Minute<br class="d-block d-sm-none" />(s)
          </div>
        </div>

        <div class="col-sm-0 d-none d-lg-block contact-time-colon">
          :
        </div>

        <div class="contact-next-course-time-card">
          <div class="contact-time-element">
            <h4>{{seconds}}</h4>
            <div class="sm-body-text d-none d-lg-block">
              Second(s)
            </div>
          </div>

          <div class="sm-body-text d-block d-lg-none">
            Second<br class="d-block d-sm-none" />(s)
          </div>
        </div>
      </div>

      <h6 class="col-sm-12 contact-next-course-city">
        in {{nextCoursecity}}
      </h6>
    </div>

  </div>

  <app-footer></app-footer>

</div>
