@import "src/assets/styles/variables";

#contact-background-1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 152px;
}

.contact-container {
  padding: 0;
  margin: calc(156px + 3.25vw) 0 10.5vw;
  overflow-x: hidden;
}

.contact-heading-title {
  text-align: center;
  margin: 0 0 12px;
  padding: 0 8.5vw;
}

.contact-heading-subtitle {
  text-align: center;
  margin: 12px 0 3.25vw;
  padding: 0 8.5vw;
}

.contact-info-section {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(500px + 30vw);
  margin: 6.5vw auto 5.5vw;
  flex-direction: row;

  .contact-info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 5vw;

    h5 {
      margin: 24px 0;
    }

    &:nth-child(2) {
      border-left: 1px solid $gray500;
      border-right: 1px solid $gray500;
    }
  }
}

.contact-next-course-section {
  width: calc(500px + 18.75vw);

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .contact-next-course-begins {
    margin-bottom: 40px;
  }
}

.contact-next-course-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > div {
    margin: 0 0.75vw;
  }
}

.contact-next-course-time-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .contact-time-element {
    padding: 22px 24px 26px;

    border: 1px solid $gray500;
    border-radius: 16px;
    box-sizing: border-box;

    text-align: center;

    .sm-body-text {
      min-width: 72px;
    }
  }

  .sm-body-text.d-block.d-lg-none {
    text-align: center;
    margin: 8px 0;
  }
}

.contact-time-colon {
  color: $gray600;
  font-size: 50px;
  line-height: 150%;
  padding-bottom: 10px;
}

@media #{$tablet} {
  .contact-container {
    margin: calc(112px + 3.25vw) 0 10.5vw;
  }

  .contact-info-section {
    width: 100%;
    margin: 9vw auto;
    justify-content: space-around;

    .contact-info-card {
      padding: 0 1vw;
      flex: 1 1 0px;

      &:nth-child(2) {
        border: none;
      }
    }
  }

  .contact-next-course-time-card {
    .contact-time-element {
      padding: 17px 3px 9px;
    }
  }

  .contact-next-course-time-card {
    .contact-time-element {
      h4 {
        min-width: 56px;
      }
    }
  }
}

@media #{$mobile} {
  #contact-background-1 {
    display: none;
  }

  .contact-container {
    margin: 96px 24px 18.6vw;
  }

  .contact-heading-title {
    margin: 0 0 24px;
    padding: 0;
  }

  .contact-heading-subtitle {
    margin: 0 0 24px;
    padding: 0;
  }

  .contact-info-section {
    flex-direction: column;
    width: 100%;

    .contact-info-card {
      margin: 24px 0;

      padding: 0;

      &:nth-child(2) {
        border: none;
      }
    }
  }

  .contact-next-course-section {
    width: 100%;

    .contact-next-course-begins {
      margin: 40px 0 24px;
    }
  }

  .contact-next-course-time {
    & > div {
      margin: 0 1.33vw;
    }
  }

  .contact-next-course-time-card {
    .contact-time-element {
      padding: 17px 3px 9px;

      h4 {
        min-width: 56px;
      }
    }
  }
}
