<div class="screen-container">

  <app-header [lightHeader]="false"></app-header>

  <div class="row section account-container">

    <div class="col-12 account-greetings-section">
      <div class="account-greetings-text-section">
        <img src="{{ userInfo.avatar }}" class="account-greetings-avatar" />
        <h4>{{ greeting }}</h4>
      </div>

      <a href="/course" class="sm-cta-primary md-buttons">
        Enroll in a new course
      </a>
    </div>

    <div class="col-12 row account-profile-section">

      <div class="col-3 account-profile-left-nav-section">

        <h5 class="account-profile-left-nav-heading">Profile</h5>

        <nav class="nav flex-column account-profile-left-nav md-body-list">
          <a class="nav-link {{selectedNav === 1 ? 'active' : ''}}" role="button" (click)="onClickNav(1)">
            <img src="/assets/images/s-icons/edit-profile.png" />
            Edit Profile
          </a>
          <a class="nav-link {{selectedNav === 2 ? 'active' : ''}}" role="button" (click)="onClickNav(2)">
            <img src="/assets/images/s-icons/password.png" />
            Password
          </a>
          <a class="nav-link {{selectedNav === 3 ? 'active' : ''}}" role="button" (click)="onClickNav(3)">
            <img src="/assets/images/s-icons/courses.png" />
            My Courses
          </a>
          <a class="nav-link {{selectedNav === 4 ? 'active' : ''}}" role="button" (click)="onClickNav(4)">
            <img src="/assets/images/s-icons/wallet.png" />
            Payment Methods
          </a>
          <a class="nav-link {{selectedNav === 5 ? 'active' : ''}}" role="button" (click)="onClickNav(5)">
            <img src="/assets/images/s-icons/social.png" />
            Social Profiles
          </a>

          <div class="divider"></div>

          <a class="nav-link" role="button" (click)="onClickNav(0)">
            <img src="/assets/images/s-icons/log-out.png" />
            Log Out
          </a>
        </nav>
      </div>

      <div class="col-9 account-profile-information-section row">

        <div class="account-profile-edit-profile-section col-6" *ngIf="selectedNav === 1">
          <h5>
            Edit Profile
          </h5>

          <div class="account-profile-row account-profile-edit-avatar-row">
            <img src="{{ userInfo.avatar }}" class="account-profile-avatar" />

            <div class="account-profile-edit-avatar-buttons">
              <button class="sm-ghost md-buttons" (click)="onUpdateAvatar()" type="button">
                Update
              </button>

              <input type="file" id="account-profile-avatar" hidden (change)="onUpdateAvatarSource($event)" />

              <button class="icon-button" (click)="onRemoveAvatar()">
                <img src="/assets/images/s-icons/delete.png" />
              </button>
            </div>
          </div>

          <div class="account-profile-row account-profile-divider"></div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              First name
            </div>
            <input type="text" class="form-control md-input md-body-text" id="firstName" name="firstName"
              placeholder="What's your first name?" [(ngModel)]="userInfo.firstName">
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Last name
            </div>
            <input type="text" class="form-control md-input md-body-text" id="lastName" name="lastName"
              placeholder="What's your last name?" [(ngModel)]="userInfo.lastName">
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Email address
            </div>
            <input type="email" class="form-control md-input md-body-text" id="email" name="email"
              placeholder="you@example.com" [(ngModel)]="userInfo.login" readonly>
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Website
            </div>
            <input type="text" class="form-control md-input md-body-text" id="website" name="website"
              placeholder="example.com" [(ngModel)]="userInfo.website">
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Bio (optional)
            </div>
            <textarea class="form-control md-input md-body-text" name="bio" id="bio" rows="3"
              placeholder="Tell about yourself" [(ngModel)]="userInfo.bio"></textarea>
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Business (options)
            </div>
            <input type="text" class="form-control md-input md-body-text" id="business" name="business"
              placeholder="Where do you work?" [(ngModel)]="userInfo.occupation">
          </div>

          <div class="alert alert-danger" role="alert" [hidden]="!errorMessage[1]">
            {{errorMessage[1]}}
          </div>

          <div class="alert alert-success" role="alert" [hidden]="!success[1]">
            Changes were made successfully!
          </div>

          <div class="account-profile-row">
            <button class="btn md-cta account-profile-save-button" type="button" (click)="onSaveChanges(1)">
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" [hidden]="!loading"></span>
              Save Changes
            </button>
          </div>
        </div>

        <div class="account-profile-edit-profile-section col-6" *ngIf="selectedNav === 2">
          <h5>
            Password Change
          </h5>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Old Password
            </div>
            <input type="password" class="form-control md-input md-body-text" id="oldPassword" name="oldPassword"
              placeholder="" [(ngModel)]="oldPassword">
          </div>

          <div *ngIf="!showPassword" class="account-profile-row form-group">
            <div class="sm-body-text account-profile-label">
              New Password
            </div>
            <input type="password" [(ngModel)]="newPassword" class="form-control md-input md-body-text" placeholder="">
          </div>

          <div class="alert alert-danger" role="alert" [hidden]="!errorMessage[2]">
            {{errorMessage[2]}}
          </div>

          <div class="alert alert-success" role="alert" [hidden]="!success[2]">
            Password has been changed successfully!
          </div>

          <div class="account-profile-row">
            <button class="btn md-cta account-profile-save-button" type="button" (click)="onSavePasswordChanges()">
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" [hidden]="!loading"></span>
              Save Changes
            </button>
          </div>
        </div>

        <div class="account-profile-edit-profile-section col-6" *ngIf="selectedNav === 5">
          <h5>
            Social Profiles
          </h5>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Instagram
            </div>
            <input type="text" class="form-control md-input md-body-text" id="instagram" name="instagram"
              placeholder="Link to your Instagram account" [(ngModel)]="userInfo.instagram">
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Twitter
            </div>
            <input type="text" class="form-control md-input md-body-text" id="twitter" name="twitter"
              placeholder="Link to your Twitter account" [(ngModel)]="userInfo.twitter">
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Facebook
            </div>
            <input type="text" class="form-control md-input md-body-text" id="facebook" name="facebook"
              placeholder="Link to your Facebook account" [(ngModel)]="userInfo.facebook">
          </div>

          <div class="alert alert-danger" role="alert" [hidden]="!errorMessage[5]">
            {{errorMessage[5]}}
          </div>

          <div class="alert alert-success" role="alert" [hidden]="!success[5]">
            Changes were made successfully!
          </div>

          <div class="account-profile-row">
            <button class="btn md-cta account-profile-save-button" type="button" (click)="onSaveChanges(5)">
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" [hidden]="!loading"></span>
              Save Changes
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
