@import "src/assets/styles/variables";

.account-container {
  padding: 0;
  margin: calc(9.5vw + 24px) 0 0;
}

.account-greetings-section {
  background-color: $gray300;
  padding: 2.5vw 13.5vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.account-greetings-text-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.account-greetings-avatar {
  width: 72px;
  height: 72px;
  border-radius: 36px;

  margin: 0 2.5vw 0 0;

  object-fit: cover;
}

.account-profile-section {
  width: 100%;
  padding-top: 4vw;
  padding-left: 13.5vw;
  padding-right: auto;
}

.account-profile-left-nav-heading {
  margin: 0 0 1.85rem 1rem;
}

.account-profile-left-nav-section {
  padding: 0;
}

.link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  cursor: pointer;

  color: $gray800;

  margin: 0.9vw 0;

  .nav-link-icon {
    margin: 0 18px 0 0;
  }

  &:hover,
  &.active {
    color: $black;

    img {
      filter: brightness(4);
    }
  }
}

.divider {
  width: 80%;
  margin: 2.5vw 0 2.5vw 16px;
  height: 0;
  border: 1px solid $gray500;
}

.account-profile-information-section {
  border-left: 1px solid $gray500;
  padding: 0 0 0 3.125vw;
}

.account-profile-sub-section {
  display: none;

  &.nav-selected {
    display: block;

    &.account-profile-sub-section-flex {
      display: flex;
    }
  }

  &.default-nav-selected {
    display: block;
  }
}

.account-profile-row {
  margin: 32px 0;

  .account-profile-label {
    margin: 8px 0;
  }

  .account-profile-save-button {
    width: 100%;
  }

  .account-profile-avatar {
    width: 96px;
    height: 96px;

    border-radius: 48px;
    object-fit: cover;
  }

  &.account-profile-divider {
    width: 100%;
    height: 0;
    border: 1px solid $gray500;
  }

  &.account-profile-edit-avatar-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .account-profile-edit-avatar-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    button {
      margin: 0 8px;
    }
  }
}

.password-toggle-button {
  cursor: pointer;
  pointer-events: all;

  position: absolute;
  right: 25px;
  top: 25px;
}

.account-nav-header {
  display: none;
  text-align: center;

  padding: 10px 5.86vw;
  border-top: 1px solid $gray500;
  border-bottom: 1px solid $gray500;

  .link-button {
    float: left;
  }

  h6 {
    margin: calc(0.9vw - 1px) 0;
  }
}

.nav-link-arrow-icon {
  display: none;
  float: right;
  margin-left: auto;
}

.course-card-wrapper {
  margin: 0;
  padding: 1vw;
}

.course-card {
  margin: 0;
  padding: 0;

  border: 1px solid #e7e7ea;
  box-sizing: border-box;
  border-radius: 16px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 8px 24px rgba(15, 20, 45, 0.04);
    transition: box-shadow 0.3s ease-in;
  }

  &-header {
    padding: 1.4vw 2vw;
    border-bottom: 1px solid $gray500;
  }

  &-content {
    padding: 0.15vw 0.75vw;
    width: 100%;
    height: 100%;
  }

  &-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 1.25vw;

    &.course-buttons-row {
      flex-direction: column;
      align-items: stretch;

      button {
        margin: 8px 0 0;
      }

      &.disabled {
        button {
          color: $gray700;
        }
      }
    }

    img {
      margin: 0 1.25vw 0 0;
    }

    .completed-course {
      color: $gray800;
    }

    .enrolled-course {
      color: $blue;
    }
  }

  &-link {
    float: right;
  }
}

.account-payment-method-heading {
  margin-bottom: 20px;
}

.account-add-payment-button {
  margin: 2.5vw 0;
  text-align: left;
}

.account-payment-method {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 27px 32px;
  margin: 20px 15px;

  border: 1px solid $gray500;
  box-sizing: border-box;
  border-radius: 4px;

  &-brand-wrapper {
    padding: 0;
  }

  &-brand {
    height: 30px;
    margin: 0;
    padding: 0 1.5vw 0 0;
  }

  &-first {
    padding: 0;
    margin: 0;
  }

  &-last4 {
    color: $blue;
    padding: 0 2vw 0 0.75vw;
    margin: 0;
  }

  &-exp-date {
    padding: 0;
  }

  &-user-name {
    margin: 0;
    padding: 0 2vw 0 0;
  }

  &-more-button {
    float: right;
    margin-left: auto;
    padding: 0;

    border: none;
    background: transparent;

    &:hover {
      img {
        filter: brightness(0.4);
      }
    }
  }

  &-more-menu {
    border: none;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0px 16px 72px rgba(30, 30, 30, 0.08);
    padding: 16px 24px;

    .dropdown-item:hover,
    .dropdown-item:active,
    .dropdown-item:focus {
      background-color: transparent;
      color: $blue;
    }
  }
}

.spinner-wrapper {
  text-align: center;
  padding: 10px;
}

.account-profile-courses-section {
  margin: 0;
  padding: 0;
}

@media #{$tablet} {
  .account-container {
    margin: calc(112px + 3vw) 0 0;
  }

  .account-profile-section {
    width: 100%;
    margin: 0;
    padding: 4vw 5.86vw 0;
  }

  .account-greetings-section {
    background-color: transparent;
    padding: 2.5vw 5.86vw;

    .enroll-button {
      border: 1px solid $gray500;
    }

    &.nav-selected {
      display: none;
    }
  }

  .account-nav-header {
    &.nav-selected {
      display: block;
    }
  }

  .account-profile-sub-section {
    &.default-nav-selected {
      display: none;
    }
  }

  .account-profile-left-nav {
    border-top: 1px solid $gray500;

    .nav-link {
      border-bottom: 1px solid $gray500;

      padding: 20px 0;
      margin: 0;

      &.logout-link {
        border-top: 1px solid $gray500;
        margin: 5.86vw 0;
      }
    }
  }

  .account-profile-left-nav-section {
    &.nav-selected {
      display: none;
    }
  }

  .account-profile-information-section {
    border-left: none;
    padding: 0;
    margin: 0;

    justify-content: center;

    .account-profile-sub-section-limited {
      max-width: 442px;
    }
  }

  .nav-link-arrow-icon {
    display: block;
  }

  .account-payment-method {
    margin: 20px 0;
  }

  .account-add-payment-button {
    padding: 0;
    text-align: center;
  }

  .course-card {
    &-header {
      padding: 2.5vw 3vw;
    }

    &-content {
      padding: 1.25vw 1.75vw;
    }
  }
}

@media #{$mobile} {
  .account-container {
    margin: 96px 24px 0;
  }

  .account-profile-section {
    width: 100%;
    margin: 0;
    padding: 4vw 0 0;
  }

  .account-greetings-section {
    flex-direction: column;
    background-color: transparent;
    padding: 2.5vw 5.86vw;

    .enroll-button {
      border: 1px solid $gray500;
      width: 100%;
      margin: 40px 0 20px;
    }

    &.nav-selected {
      display: none;
    }
  }

  .account-nav-header {
    padding: 10px 0;

    &.nav-selected {
      display: block;
      border-bottom: none;
      border-top: none;
    }
  }

  .account-profile-sub-section {
    padding: 0;

    &.default-nav-selected {
      display: none;
    }
  }

  .account-profile-left-nav {
    border-top: 1px solid $gray500;

    .nav-link {
      border-bottom: 1px solid $gray500;

      padding: 20px 0;
      margin: 0;

      &.logout-link {
        border-top: 1px solid $gray500;
        margin: 5.86vw 0;
      }
    }
  }

  .account-profile-left-nav-section {
    &.nav-selected {
      display: none;
    }
  }

  .account-profile-information-section {
    border-left: none;
    padding: 0;
    margin: 0;

    justify-content: center;

    .account-profile-sub-section-limited {
      padding: 0;
    }
  }

  .nav-link-arrow-icon {
    display: block;
  }

  .account-payment-method {
    padding: 32px 24px;
    margin: 20px 0;

    border-radius: 16px;

    .account-payment-method-brand {
      height: 30px;
      margin: 0 1.5vw 0 0;
      padding: 0;
    }

    .account-payment-method-first {
      padding: 0;
    }

    .account-payment-method-last4 {
      color: $blue;
      padding: 0;
      margin: 0 2vw 0 0.75vw;
    }

    .account-payment-method-user-name {
      margin: 25px 2vw 25px 0;
      padding: 0;
    }

    .account-payment-method-exp-date {
      float: right;
      margin-left: auto;
      text-align: right;
    }

    .account-payment-method-more-button {
      text-align: right;
    }
  }

  .account-add-payment-button {
    text-align: center;
  }

  .course-card {
    &-header {
      padding: 24px 32px;
      border-bottom: 1px solid $gray500;
    }

    &-content {
      padding: 24px 32px;
    }
  }
}
