<div class="screen-container">

  <app-header [lightHeader]="false"></app-header>

  <div class="row section account-container">

    <div class="col-12 account-greetings-section {{selectedNav > 0 ? 'nav-selected' : ''}}">
      <div class="account-greetings-text-section">
        <img src="{{ userInfo.avatar }}" class="account-greetings-avatar" />
        <h4>{{ greeting }}</h4>
      </div>

      <a routerLink="/course" class="sm-cta-primary md-buttons enroll-button">
        Enroll in a new course
      </a>
    </div>

    <div class="col-12 account-nav-header {{selectedNav > 0 ? 'nav-selected' : ''}}">
      <a class="link-button" role="button" (click)="onClickNav(0)">
        <img src="/assets/images/s-icons/arrow-left.png" />
      </a>

      <h6>
        {{selectedNavString}}
      </h6>
    </div>

    <div class="col-12 row account-profile-section">

      <div class="col-12 col-lg-3 account-profile-left-nav-section {{selectedNav > 0 ? 'nav-selected' : ''}}">

        <h5 class="account-profile-left-nav-heading d-none d-lg-block">Profile</h5>

        <nav class="nav flex-column account-profile-left-nav md-body-list">
          <a class="link-button nav-link {{selectedNav === 1 ? 'active' : ''}}" role="button" (click)="onClickNav(1)">
            <img src="/assets/images/s-icons/edit-profile.png" class="nav-link-icon" />
            Edit Profile
            <img src="/assets/images/arrows/right.png" class="nav-link-arrow-icon" />
          </a>
          <a class="link-button nav-link {{selectedNav === 2 ? 'active' : ''}}" role="button" (click)="onClickNav(2)">
            <img src="/assets/images/s-icons/password.png" class="nav-link-icon" />
            Password
            <img src="/assets/images/arrows/right.png" class="nav-link-arrow-icon" />
          </a>
          <a class="link-button nav-link {{selectedNav === 3 ? 'active' : ''}}" role="button" (click)="onClickNav(3)">
            <img src="/assets/images/s-icons/courses.png" class="nav-link-icon" />
            My Courses
            <img src="/assets/images/arrows/right.png" class="nav-link-arrow-icon" />
          </a>
          <a class="link-button nav-link {{selectedNav === 4 ? 'active' : ''}}" role="button" (click)="onClickNav(4)">
            <img src="/assets/images/s-icons/wallet.png" class="nav-link-icon" />
            Payment Methods
            <img src="/assets/images/arrows/right.png" class="nav-link-arrow-icon" />
          </a>
          <a class="link-button nav-link {{selectedNav === 6 ? 'active' : ''}}" role="button" (click)="onClickNav(6)">
            <img src="/assets/images/s-icons/invoice.png" class="nav-link-icon" />
            Billing
            <img src="/assets/images/arrows/right.png" class="nav-link-arrow-icon" />
          </a>
          <a class="link-button nav-link {{selectedNav === 5 ? 'active' : ''}}" role="button" (click)="onClickNav(5)">
            <img src="/assets/images/s-icons/social.png" class="nav-link-icon" />
            Social Profiles
            <img src="/assets/images/arrows/right.png" class="nav-link-arrow-icon" />
          </a>

          <div class="divider d-none d-lg-block"></div>

          <a class="link-button nav-link logout-link" role="button" (click)="onClickNav(-1)">
            <img src="/assets/images/s-icons/log-out.png" class="nav-link-icon" />
            Log Out
            <img src="/assets/images/arrows/right.png" class="nav-link-arrow-icon" />
          </a>
        </nav>
      </div>

      <div class="col-12 col-lg-9 account-profile-information-section row">

        <div
          class="account-profile-sub-section col-12 col-lg-6 account-profile-sub-section-limited {{selectedNav === 1 ? 'nav-selected' : ''}} {{selectedNav === -2 ? 'default-nav-selected' : ''}}"
          id="edit-profile">
          <h5 class="d-none d-lg-block">
            {{selectedNavString}}
          </h5>

          <div class="account-profile-row account-profile-edit-avatar-row">
            <img src="{{ userInfo.avatar }}" class="account-profile-avatar" />

            <div class="account-profile-edit-avatar-buttons">
              <button class="sm-ghost md-buttons" (click)="onUpdateAvatar()" type="button">
                Update
              </button>

              <input type="file" id="account-profile-avatar" hidden (change)="onUpdateAvatarSource($event)" />

              <button class="icon-button" (click)="onRemoveAvatar()">
                <img src="/assets/images/s-icons/delete.png" />
              </button>
            </div>
          </div>

          <div class="account-profile-row account-profile-divider"></div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              First name
            </div>
            <input type="text" class="form-control md-input md-body-text" id="firstName" name="firstName"
              placeholder="What's your first name?" [(ngModel)]="userInfo.firstName">
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Last name
            </div>
            <input type="text" class="form-control md-input md-body-text" id="lastName" name="lastName"
              placeholder="What's your last name?" [(ngModel)]="userInfo.lastName">
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Email address
            </div>
            <input type="email" class="form-control md-input md-body-text" id="email" name="email"
              placeholder="you@example.com" [(ngModel)]="userInfo.login" readonly>
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Website
            </div>
            <input type="text" class="form-control md-input md-body-text" id="website" name="website"
              placeholder="example.com" [(ngModel)]="userInfo.website">
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Bio (optional)
            </div>
            <textarea class="form-control md-input md-body-text" name="bio" id="bio" rows="3"
              placeholder="Tell about yourself" [(ngModel)]="userInfo.bio"></textarea>
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Business (options)
            </div>
            <input type="text" class="form-control md-input md-body-text" id="business" name="business"
              placeholder="Where do you work?" [(ngModel)]="userInfo.occupation">
          </div>

          <div class="alert alert-danger" role="alert" [hidden]="!errorMessage[1]">
            {{errorMessage[1]}}
          </div>

          <div class="alert alert-success" role="alert" [hidden]="!success[1]">
            Changes were made successfully!
          </div>

          <div class="account-profile-row">
            <button class="btn md-cta account-profile-save-button" type="button" (click)="onSaveChanges(1)">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                [hidden]="!loading"></span>
              Save changes
            </button>
          </div>
        </div>

        <div
          class="account-profile-sub-section col-12 col-lg-6 account-profile-sub-section-limited {{selectedNav === 2 ? 'nav-selected' : ''}}"
          id="change-password">
          <h5 class="d-none d-lg-block">
            {{selectedNavString}}
          </h5>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Old Password
            </div>
            <input type="password" class="form-control md-input md-body-text" id="oldPassword" name="oldPassword"
              placeholder="" [(ngModel)]="oldPassword">
          </div>

          <div *ngIf="!showPassword" class="account-profile-row form-group">
            <div class="sm-body-text account-profile-label">
              New Password
            </div>
            <input type="password" [(ngModel)]="newPassword" class="form-control md-input md-body-text" placeholder="">
          </div>

          <div class="alert alert-danger" role="alert" [hidden]="!errorMessage[2]">
            {{errorMessage[2]}}
          </div>

          <div class="alert alert-success" role="alert" [hidden]="!success[2]">
            Password has been changed successfully!
          </div>

          <div class="account-profile-row">
            <button class="btn md-cta account-profile-save-button" type="button" (click)="onSavePasswordChanges()">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                [hidden]="!loading"></span>
              Save changes
            </button>
          </div>
        </div>

        <div class="account-profile-sub-section col-12 row {{selectedNav === 3 ? 'nav-selected' : ''}}" id="my-courses">
          <h5 class="d-none d-lg-block col-12">
            {{selectedNavString}}
          </h5>

          <div class="col-12 spinner-wrapper">
            <span class="spinner-border" role="status" aria-hidden="true" [hidden]="coursesLoaded"></span>
          </div>

          <div class="alert alert-danger" role="alert" [hidden]="!errorMessage[3]">
            {{errorMessage[3]}}
          </div>

          <div class="alert alert-info" role="alert" [hidden]="myCourses.length > 0">
            {{isInstructor ? "You have no assigned courses." : "You haven't enrolled to any courses yet." }}
          </div>

          <div class="col-12 row account-profile-courses-section">
            <div class="col-12 col-sm-6 course-card-wrapper" *ngFor="let course of myCourses" [hidden]="course.hidden">
              <div class="course-card">
                <div class="course-card-header">
                  <div class="md-body-medium">
                    {{course.title}}
                  </div>
                </div>
                <div class="course-card-content">
                  <div class="course-card-row">
                    <img src="/assets/images/s-icons/calendar.png" class="d-none d-lg-block" />
                    <div class="md-body-medium">
                      {{ course.start_date | date : 'MMMM dd, yyyy' }}
                    </div>
                  </div>

                  <div class="course-card-row">
                    <img src="/assets/images/s-icons/map.png" class="d-none d-lg-block" />
                    <div class="md-body-text">
                      {{ course.city }}
                    </div>
                  </div>

                  <div class="course-card-row">
                    <img src="/assets/images/s-icons/time.png" class="d-none d-lg-block" />
                    <div class="md-body-text {{course.completed ? 'completed-course' : 'enrolled-course'}}">
                      {{course.completed ? 'Completed' : 'Enrolled'}}
                    </div>
                  </div>

                  <div class="course-card-row course-buttons-row {{course.completed ? '' : 'disabled'}}"
                    *ngIf="!isInstructor">
                    <button class="sm-ghost md-buttons" [disabled]="!course.completed"
                      (click)="onGetCertificate(course.id)">
                      Get certificate
                    </button>
                    <button class="sm-ghost md-buttons" [disabled]="!course.completed"
                      (click)="onLeaveFeedback(course.id)">
                      Leave feedback
                    </button>
                  </div>

                  <div class="course-card-row course-buttons-row" *ngIf="isInstructor">
                    <button class="sm-ghost md-buttons" (click)="onStudents(course.id)">
                      Students
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="account-profile-sub-section col-12 col-lg-10 row {{selectedNav === 4 ? 'nav-selected' : ''}}"
          id="payment-information">
          <h5 class="d-none d-lg-block col-12 account-payment-method-heading">
            {{selectedNavString}}
          </h5>

          <div class="col-12 spinner-wrapper">
            <span class="spinner-border" role="status" aria-hidden="true" [hidden]="paymentLoaded"></span>
          </div>

          <div class="alert alert-info" role="alert" [hidden]="!paymentMethods || paymentMethods.length > 0">
            You haven't added any payment methods yet!
          </div>

          <div class="col-12 account-payment-method row" *ngFor="let method of paymentMethods; let i = index">
            <div class="col-8 col-sm-auto order-1 order-sm-1 account-payment-method-brand-wrapper">
              <img src="{{method.brand}}" class="account-payment-method-brand" />
            </div>
            <div class="col-2 col-sm-auto order-4 order-sm-2 account-payment-method-first">
              <img src="/assets/images/s-icons/dots.png" />
            </div>
            <div class="md-body-medium account-payment-method-last4 col-2 col-sm-auto order-5 order-sm-3">
              {{method.last4}}
            </div>
            <div class="md-body-text account-payment-method-user-name col-12 col-sm-auto order-3 order-sm-4">
              {{method.userName}}
            </div>
            <div class="md-body-text account-payment-method-exp-date col-4 col-sm-auto order-6 order-sm-5">
              {{method.expMonth}}/{{method.expYear}}
            </div>
            <button class="col-4 col-sm-auto order-2 order-sm-6 account-payment-method-more-button" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              id="account-payment-method-more-menu_{{i}}">
              <img src="/assets/images/s-icons/more.png" />
            </button>

            <div class="dropdown-menu account-payment-method-more-menu"
              [attr.aria-labelledby]="'account-payment-method-more-menu_' + i">
              <div class="md-body-text dropdown-menu-content">
                <button class="dropdown-item" (click)="removePayment(i)">Remove</button>
              </div>
            </div>
          </div>

          <div class="alert alert-success" role="alert" [hidden]="!success[4]">
            Changes have taken place successfully!
          </div>

          <div class="col-12 account-add-payment-button">
            <button type="button" class="btn md-cta lg-buttons account-payment-method-add-button"
              (click)="addPaymentMethod()">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                [hidden]="!loading"></span>
              Add payment method
            </button>
          </div>
        </div>

        <div
          class="account-profile-sub-section col-12 col-lg-6 account-profile-sub-section-limited {{selectedNav === 5 ? 'nav-selected' : ''}}"
          id="social-profiles">
          <h5 class="d-none d-lg-block">
            {{selectedNavString}}
          </h5>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Instagram
            </div>
            <input type="text" class="form-control md-input md-body-text" id="instagram" name="instagram"
              placeholder="Link to your Instagram account" [(ngModel)]="userInfo.instagram">
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Twitter
            </div>
            <input type="text" class="form-control md-input md-body-text" id="twitter" name="twitter"
              placeholder="Link to your Twitter account" [(ngModel)]="userInfo.twitter">
          </div>

          <div class="account-profile-row">
            <div class="sm-body-text account-profile-label">
              Facebook
            </div>
            <input type="text" class="form-control md-input md-body-text" id="facebook" name="facebook"
              placeholder="Link to your Facebook account" [(ngModel)]="userInfo.facebook">
          </div>

          <div class="alert alert-danger" role="alert" [hidden]="!errorMessage[5]">
            {{errorMessage[5]}}
          </div>

          <div class="alert alert-success" role="alert" [hidden]="!success[5]">
            Changes were made successfully!
          </div>

          <div class="account-profile-row">
            <button class="btn md-cta account-profile-save-button" type="button" (click)="onSaveChanges(5)">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                [hidden]="!loading"></span>
              Save changes
            </button>
          </div>
        </div>


        <div
          class="account-profile-sub-section col-12 col-lg-9 account-profile-sub-section-limited {{selectedNav === 6 ? 'nav-selected' : ''}}"
          id="billing">
          <h5 class="d-none d-lg-block">
            {{selectedNavString}}
          </h5>

          <div class="col-12 spinner-wrapper">
            <span class="spinner-border" role="status" aria-hidden="true" [hidden]="billingsLoaded"></span>
          </div>

          <div class="col-12 account-billing row" *ngFor="let billing of billings; let i = index">
            <div class="col-4 account-billing-number">
              # {{billing.number}}
            </div>
            <div class="col-3 account-billing-amount">
              ${{billing.amount | number}}
            </div>
            <div class="col-4 account-billing-paid">
              {{billing.paid}}
            </div>
            <div class="col-1 account-billing-print">
              <button type="button" class="btn account-billing-print-button" (click)="printInvoice(i)">
                <img src="/assets/images/s-icons/print.png" />
              </button>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>
