<div>
  <h4>{{pageTitle}}</h4>

  <span *ngIf="courseId">
    <button type="button" class="btn btn-link" (click)="onOptions()">
      <clr-icon shape="shopping-cart"></clr-icon> Manage Options
    </button>
    /
    <button type="button" class="btn btn-link" (click)="onCategories()">
      <clr-icon shape="tags"></clr-icon> Manage Categories
    </button>
    /
    <button type="button" class="btn btn-link" (click)="onTopics()">
      <clr-icon shape="note"></clr-icon> Manage Topics
    </button>
    /
    <button type="button" class="btn btn-link" (click)="onInstructors()">
      <clr-icon shape="users"></clr-icon> Manage Instructors
    </button>
    /
    <button type="button" class="btn btn-link" (click)="onReviews()">
      <clr-icon shape="line-chart"></clr-icon> Manage Reviews
    </button>
    /
    <button type="button" class="btn btn-link" (click)="onTestimonials()">
      <clr-icon shape="share"></clr-icon> Manage Testimonials
    </button>
    /
    <button type="button" class="btn btn-link" (click)="onSurveyQuestions()">
      <clr-icon shape="assign-user"></clr-icon> Manage Survey Questions
    </button>
    /
    <button type="button" class="btn btn-link" (click)="onSurveyResults()">
      <clr-icon shape="happy-face"></clr-icon> Manage Survey Results
    </button>
    /
  </span>
  <button type="button" class="btn btn-link" (click)="goBack()">
    <clr-icon shape="undo"></clr-icon> Back
  </button>

  <form clrForm [formGroup]="courseForm" clrLayout="vertical" (ngSubmit)="onSubmit()" *ngIf="!loading">
    <clr-tabs clrLayout="vertical">

      <clr-tab>
        <button clrTabLink>Details</button>
        <clr-tab-content *clrIfActive="true">
          <clr-input-container>
            <label>Title</label>
            <input clrInput type="text" formControlName="title" required size="70" />
            <clr-control-error>The title is required</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Slug</label>
            <input clrInput type="text" formControlName="slug" required size="70" />
            <clr-control-error>The slug is required</clr-control-error>
            <clr-control-helper>Page slug for this course</clr-control-helper>
          </clr-input-container>
          <clr-input-container>
            <label>Tagline</label>
            <input clrInput type="text" formControlName="tagline" size="70" />
            <clr-control-helper>Headline text displayed at the top of course page</clr-control-helper>
          </clr-input-container>
          <clr-select-container>
            <label>Status</label>
            <select clrSelect formControlName="status">
              <option value="pending_confirmation">
                Pending Confirmation
              </option>
              <option value="confirmed">
                Confirmed
              </option>
            </select>
            <clr-control-helper>Set the status of this course</clr-control-helper>
          </clr-select-container>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>Content</button>
        <clr-tab-content *clrIfActive>
          <ckeditor [editor]="editor" formControlName="content"></ckeditor>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>Program</button>
        <clr-tab-content *clrIfActive>
          <ckeditor [editor]="editor" formControlName="program"></ckeditor>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>SEO</button>
        <clr-tab-content *clrIfActive>
          <clr-input-container>
            <label>Meta Title</label>
            <input clrInput type="text" formControlName="metaTitle" size="70" />
          </clr-input-container>
          <clr-input-container>
            <label>Meta Description</label>
            <input clrInput type="text" formControlName="metaDescription" size="70" />
          </clr-input-container>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>Location</button>
        <clr-tab-content *clrIfActive>
          <clr-input-container>
            <label>Location</label>
            <input clrInput type="text" formControlName="location" placeholder="lat,lng" size="70" />
            <clr-control-helper>Geo coordinates of the course location, in <code>lat,lng</code> format
            </clr-control-helper>
          </clr-input-container>
          <clr-input-container>
            <label>City</label>
            <input clrInput type="text" formControlName="city" size="70" />
            <clr-control-helper>City where the course is taking place</clr-control-helper>
          </clr-input-container>
          <clr-input-container>
            <label>Address</label>
            <input clrInput type="text" formControlName="address" size="70" />
            <clr-control-helper>Full address where the course is taking place</clr-control-helper>
          </clr-input-container>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>Schedule</button>
        <clr-tab-content *clrIfActive>
          <clr-date-container>
            <label>Start date</label>
            <input type="date" [(clrDate)]="startDate" required formControlName="startDate">
            <clr-control-helper>First day of the course</clr-control-helper>
          </clr-date-container>
          <clr-date-container>
            <label>Last date</label>
            <input type="date" [(clrDate)]="lastDate" required formControlName="lastDate">
            <clr-control-helper>Last day of the course</clr-control-helper>
          </clr-date-container>
          <clr-input-container>
            <label>Start Time</label>
            <input clrInput type="string" formControlName="startTime" min="0" />
            <clr-control-helper>Start time of the course</clr-control-helper>
          </clr-input-container>
          <clr-input-container>
            <label>End Time</label>
            <input clrInput type="string" formControlName="endTime" min="0" />
            <clr-control-helper>End time of the course</clr-control-helper>
          </clr-input-container>
          <clr-input-container>
            <label>Spots</label>
            <input clrInput type="number" formControlName="spots" min="0" />
            <clr-control-helper>Number of available spots on the course</clr-control-helper>
          </clr-input-container>
        </clr-tab-content>
      </clr-tab>

    </clr-tabs>

    <button class="btn btn-primary pull-right" type="submit" [disabled]="!courseForm.valid"
      *ngIf="!loading">Submit</button>

    <button class="btn btn-outline pull-right" (click)="goBack()">Cancel</button>
  </form>

  <clr-spinner *ngIf="loading"></clr-spinner>
</div>
