@import "src/assets/styles/variables";

.signup-content {
  top: 70% !important;

  @media #{$desktop} {
    padding-top: 20vw;
  }
}

.password-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login-row {
  margin: 2vw 0 0;
  text-align: center;
}
