<div class="auth-container">

  <img src='/assets/images/images/auth/background.png' alt="Olive Oil Times" class="background-image"
    id="auth-background" />

  <div class="auth-header">
    <a class="navbar-brand header-logo" href="/">
      <picture>
        <source srcset="/assets/logos/logo-blue-s.png" media="(max-width: 576px)" />
        <source srcset="/assets/logos/logo-blue.png" />
        <img src='/assets/logos/logo-blue.png' alt="Olive Oil Times" />
      </picture>
    </a>
  </div>

  <form class="auth-content signup-content" (ngSubmit)="signup()">
    <h3 class="auth-heading">
      Create an account.
    </h3>

    <div class="auth-row">
      <div class="sm-body-text">
        First name
      </div>
      <input type="text" class="form-control md-input md-body-text" id="firstName" name="firstName"
        placeholder="What's your first name?" [(ngModel)]="firstName">
    </div>

    <div class="auth-row">
      <div class="sm-body-text">
        Last name
      </div>
      <input type="text" class="form-control md-input md-body-text" id="lastName" name="lastName"
        placeholder="What's your last name?" [(ngModel)]="lastName">
    </div>

    <div class="auth-row">
      <div class="sm-body-text">
        Email address
      </div>
      <input type="email" class="form-control md-input md-body-text" id="email" name="email"
        placeholder="you@example.com" [(ngModel)]="email">
    </div>

    <div class="auth-row">
      <div class="sm-body-text">
        Password
      </div>
      <input type="password" class="form-control md-input md-body-text" id="password" name="password"
        placeholder="Enter 6 characters or more" [(ngModel)]="password">
    </div>

    <div class="auth-row">
      <div class="sm-body-text">
        Business (optional)
      </div>
      <input type="text" class="form-control md-input md-body-text" id="business" name="business"
        placeholder="Where do you work?" [(ngModel)]="business">
    </div>

    <div class="alert alert-danger" role="alert" [hidden]="!errorMessage">
      {{errorMessage}}
    </div>

    <div class="auth-row" [hidden]="!confirmationSent">
      <div class="alert alert-info" role="alert">
        Confirmation email has been sent. Please check your inbox to continue registration.
      </div>
    </div>

    <div class="auth-row">
      <button class="btn md-cta auth-button" type="submit">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" [hidden]="!loading"></span>
        Sign Up
      </button>
    </div>

    <div class="auth-row auth-divider">
      <div class="auth-divider-line"></div>
      <div class="md-body-text auth-divider-text">or</div>
      <div class="auth-divider-line"></div>
    </div>

    <div class="auth-row">
      <button class="btn md-cta auth-button google-button" type="button">
        <img src="/assets/images/images/auth/google.png">
        Sign Up with Google
      </button>
    </div>

    <div class="auth-row">
      <div class="login-row md-body-text">
        By signing up, you agree to our <a href="https://oliveoilschool.org/terms/" class="md-text-link">Terms &
          Conditions</a> and the <a href="#" class="md-text-link">Privacy Policy</a>. <br />
        Already have an account? <a href="/login" class="md-text-link">Log in</a>
      </div>
    </div>
  </form>
</div>
