@import "src/assets/styles/variables";

#cart-background-1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 152px;
  z-index: -1;
}

.cart-container {
  padding: 0;
  margin: calc(156px + 3.25vw) 8vw 0;
}

.cart-heading-title {
  text-align: center;
  margin: 0 0 3.25vw;
  padding: 0 8.5vw;
}

.cart-details {
  &-heading {
    margin: 32px -15px;
  }

  &-item {
    margin: 0px 0;
    padding: 32px 0;
    border-top: 1px solid $gray500;

    &:last-child {
      border-bottom: 1px solid $gray500;
    }

    &-field {
      &-label {
        color: $gray800;
      }

      &:first-child {
        padding: 0 15px 0 0;
      }
    }

    &-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      padding: 0 0 0 15px;
    }
  }
}

.cart-summary {
  margin: 32px 15px;
  padding: 0;

  border: 1px solid $gray500;
  box-sizing: border-box;
  border-radius: 16px;

  max-width: 370px;
  float: right;

  &-heading {
    padding: 32px 32px 24px;
    border-bottom: 1px solid $gray500;
  }

  &-body {
    padding: 32px 32px 24px;
    margin: 0;

    &-total {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin: 0 0 24px;
      padding: 0;
    }

    &-buttons {
      padding: 0;

      button {
        margin: 8px 0;
      }
    }
  }
}

.spinner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spinner-wrapper-payment {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.1);
}

.cart-payment-method {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 27px 32px;
  margin: 0;

  box-sizing: border-box;
  border-radius: 0;

  &-wrapper {
    border-top: 1px solid $gray500;
    margin: 0;
    padding: 0;

    &:last-child {
      border-bottom: 1px solid $gray500;
    }
  }

  &:hover {
    background-color: $gray300;
    transition: all 0.3s ease;
  }

  &:active,
  &.selected {
    background-color: $gray500;
    transition: all 0.3s ease;
  }

  &-brand-wrapper {
    padding: 0;
  }

  &-brand {
    height: 30px;
    margin: 0;
    padding: 0 1.5vw 0 0;
  }

  &-first {
    padding: 0;
    margin: 0;
  }

  &-last4 {
    color: $blue;
    padding: 0 2vw 0 0.75vw;
    margin: 0;
  }

  &-exp-date {
    padding: 0;
  }

  &-user-name {
    margin: 0;
    padding: 0 2vw 0 0;
  }
}

@media #{$tablet} {
  #cart-background-1 {
    top: 112px;
  }

  .cart-container {
    margin: calc(112px + 3vw) 5.86vw 0;
  }

  .cart-heading-title {
    margin: 0 0 3.25vw;
    padding: 0 21.2vw;
  }

  .cart-summary {
    margin: 15px 30px 15px 15px;
    border: none;

    &-heading {
      padding: 8px 32px;
      border-bottom: none;
    }

    &-body {
      padding: 8px 32px;
    }
  }
}

@media #{$mobile} {
  #cart-background-1 {
    display: none;
  }

  .cart-container {
    margin: 96px 0 0;
  }

  .cart-heading-title {
    margin: 0 0 24px;
    padding: 0;
  }

  .cart-summary {
    margin: 15px 30px 15px 15px;
    border: none;

    &-heading {
      padding: 8px 32px;
      border-bottom: none;
    }

    &-body {
      padding: 8px 32px;
    }
  }
}
