<div class="screen-container">

  <img src='/assets/images/images/normal-background.png' alt="Olive Oil Times" class="background-image"
    id="cart-background-1" />

  <app-header [lightHeader]="false"></app-header>

  <div class="row section cart-container">
    <div class="col-12 order-0 hero cart-heading-title">
      Tuition Summary
    </div>

    <div class="col-12 col-lg-8">
      <div class="col-12 cart-details row">
        <h6 class="col-12 cart-details-heading">
          Your Cart ({{cart.length}})
        </h6>

        <div class="col-12 row cart-details-item" *ngFor="let item of cart; let i = index">
          <div class="col-5 cart-details-item-field">
            <div class="sm-body-text cart-details-item-field-label">
              Course
            </div>
            <div class="md-body-text cart-details-item-field-value">
              {{item.name}}
            </div>
          </div>

          <div class="col-3 cart-details-item-field">
            <div class="sm-body-text cart-details-item-field-label">
              Tuition:
            </div>
            <div class="md-body-text cart-details-item-field-value">
              $ {{item.price}}
            </div>
          </div>

          <div class="col-4 cart-details-item-actions">
            <div class="btn-group" role="group">
              <button type="button" class="btn icon-button md-body-medium" (click)="decreaseItem(i)" disabled>
                <img src="/assets/images/s-icons/minus.png" />
              </button>
              <button type="button" class="btn icon-button md-body-medium">
                {{item.quantity}}
              </button>
              <button type="button" class="btn icon-button md-body-medium" (click)="increaseItem(i)" disabled>
                <img src="/assets/images/s-icons/plus.png" />
              </button>
            </div>

            <button type="button" class="btn icon-button" (click)="removeItem(i)">
              <img src="/assets/images/s-icons/delete.png" />
            </button>
          </div>
        </div>

      </div>

      <div class="col-12 alert alert-success" role="alert" [hidden]="!success">
        Your order has been placed successfully!
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="cart-summary">
        <div class="col-12 cart-summary-heading">
          <h6>Summary</h6>
        </div>

        <div class="col-12 row cart-summary-body">
          <div class="col-12 cart-summary-body-total">
            <div class="lg-body-text">
              Estimated total
            </div>
            <div class="lg-body-medium">
              ${{total}}
            </div>
          </div>

          <div class="col-12 cart-summary-body-buttons">
            <button class="btn col-12 md-cta lg-buttons" (click)="checkout()" [disabled]="0 >= total">
              Checkout
            </button>

            <button class="btn col-12 md-ghost lg-buttons" *ngIf="!loggedIn" (click)="loginAndCheckout()">
              Sign in & Checkout
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="selectPaymentMethodModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Select Payment Method</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body row">
            <div class="col-12 spinner-wrapper" *ngIf="!paymentLoaded">
              <span class="spinner-border" role="status" aria-hidden="true"></span>
            </div>

            <div class="spinner-wrapper-payment" *ngIf="paymentRequested">
              <span class="spinner-border" role="status" aria-hidden="true"></span>
            </div>

            <div class="col-12" *ngIf="paymentLoaded && paymentMethods.length === 0">
              <button class="btn sm-cta" (click)="addPaymentMethod()">
                Add payment method
              </button>
            </div>

            <div class="cart-payment-method-wrapper col-12 row" *ngFor="let method of paymentMethods; let i = index">
              <button role="button" (click)="selectPaymentMethod(i)"
                class="cart-payment-method btn col-12 {{i === selectedPaymentMethod ? 'selected' : ''}}">
                <div class="cart-payment-method-brand-wrapper">
                  <img src="{{method.brand}}" class="cart-payment-method-brand" />
                </div>
                <div class="cart-payment-method-first">
                  <img src="/assets/images/s-icons/dots.png" />
                </div>
                <div class="md-body-medium cart-payment-method-last4">
                  {{method.last4}}
                </div>
                <div class="md-body-text cart-payment-method-user-name">
                  {{method.userName}}
                </div>
                <div class="md-body-text cart-payment-method-exp-date">
                  {{method.expMonth}}/{{method.expYear}}
                </div>
              </button>
            </div>
          </div>

          <div class="col-12 alert alert-danger" role="alert" [hidden]="!errorMessage[1]">
            {{errorMessage[1]}}
          </div>

          <div class="modal-footer">
            <button type="button" class="btn sm-cta" (click)="pay()"
              [disabled]="0 > selectedPaymentMethod || paymentRequested">
              Pay and enroll
            </button>
            <button type="button" class="btm sm-cta-primary" data-dismiss="modal" aria-label="Close">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <app-footer [showBadge]="false"></app-footer>

</div>
