<footer id="footer">

	<div class="container">
		<div class="row">
			<div class="footerbottom">
				<div class="col-md-3 col-sm-6">
					<div class="footerwidget">
						<h4>
							Course Categories
						</h4>
						<div class="menu-course">
							<ul class="menu">
								<li><a href="#">
										List of Technology
									</a>
								</li>
								<li><a href="#">
										List of Business
									</a>
								</li>
								<li><a href="#">
										List of Photography
									</a>
								</li>
								<li><a href="#">
										List of Language
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footerwidget">
						<h4>
							Products Categories
						</h4>
						<div class="menu-course">
							<ul class="menu">
								<li> <a href="#">
										Individual Plans </a>
								</li>
								<li><a href="#">
										Business Plans
									</a>
								</li>
								<li><a href="#">
										Free Trial
									</a>
								</li>
								<li><a href="#">
										Academic
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footerwidget">
						<h4>
							Browse by Categories
						</h4>
						<div class="menu-course">
							<ul class="menu">
								<li><a href="#">
										All Courses
									</a>
								</li>
								<li> <a href="#">
										All Instructors
									</a>
								</li>
								<li><a href="#">
										All Members
									</a>
								</li>
								<li>
									<a href="#">
										All Groups
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footerwidget">
						<h4>Contact</h4>
						<p></p>
						<div class="contact-info">
							<i class="fa fa-map-marker"></i> Kerniles 416 - United Kingdom<br>
							<i class="fa fa-phone"></i> +1 (212) 729-3600 <br>
							<i class="fa fa-envelope-o"></i>
							<a style="text-decoration: none;color: #4a4a4a;" href="mailto:learn@oliveoilshool.org"
								target="_top">
								learn@oliveoilshool.org
							</a>
						</div>
					</div><!-- end widget -->
				</div>
			</div>
		</div>
		<div class="social text-center">
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-dribbble"></i></a>
			<a href="#"><i class="fa fa-flickr"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
		</div>

		<div class="clear"></div>
		<!--CLEAR FLOATS-->
	</div>
	<div class="footer2">
		<div class="container">
			<div class="row">
				<div class="panel">
					<div class="panel-body">
						<p class="text-right">
							© 2020 Olive Oil Times. All right reserved.
						</p>
					</div>
				</div>

			</div>
			<!-- /row of panels -->
		</div>
	</div>
</footer>