<!DOCTYPE html>
<html>
  <head>
    {% set assets = include('bundle.html')|split('<link rel=') %}
    <base href="/admin/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | OOT Admin</title>
    <link rel={{ assets[1]|raw }}
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block javascript %}{% endblock %}
    {{ assets[0]|raw }}
  </body>
</html>
