<div class="screen-container">

  <img src='/assets/images/images/normal-background.png' alt="Olive Oil Times" class="background-image"
    id="background-1" />

  <app-header [lightHeader]="false"></app-header>

  <div class="row section courses-container">
    <div class="col-12 order-0 hero courses-heading-title">
      All Courses
    </div>

    <div class="col-12 courses-category-section">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn course-type-button sm-body-text active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Quality Assessment
        </label>
        <label class="btn course-type-button sm-body-text">
          <input type="radio" name="options" id="option2" autocomplete="off"> Farming and Production
        </label>
        <label class="btn course-type-button sm-body-text">
          <input type="radio" name="options" id="option3" autocomplete="off"> Culinary
        </label>
        <label class="btn course-type-button sm-body-text">
          <input type="radio" name="options" id="option3" autocomplete="off"> Marketing
        </label>
        <label class="btn course-type-button sm-body-text">
          <input type="radio" name="options" id="option3" autocomplete="off"> Health
        </label>
      </div>
    </div>

    <div class="col-12 row courses-card-sectin">

      <div class="col-12 col-sm-6 col-lg-4 course-card">
        <div class="course-card-content">
          <div class="course-card-row">
            <img src="/assets/images/s-icons/calendar.png" />
            <div class="md-body-medium">
              September 16-21, 2019
            </div>
          </div>
          <div class="course-card-row">
            <img src="/assets/images/s-icons/map.png" />
            <div class="md-body-text">
              San Francisco, California
            </div>
          </div>
          <div class="course-card-row">
            <img src="/assets/images/s-icons/ticket.png" />
            <div class="md-body-text course-sold-out">
              Sold Out
            </div>
          </div>
          <div class="course-card-row">
            <div class="course-card-score">
              <img src="/assets/images/s-icons/star.png" />
              <div class="md-body-text">
                4.96
              </div>
            </div>

            <a href="#" class="md-text-link course-card-link">
              Get Updates
              <img src="/assets/images/arrows/right.png" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 course-card">
        <div class="course-card-content">
          <div class="course-card-row">
            <img src="/assets/images/s-icons/calendar.png" />
            <div class="md-body-medium">
              January 20-24, 2020
            </div>
          </div>
          <div class="course-card-row">
            <img src="/assets/images/s-icons/map.png" />
            <div class="md-body-text">
              London, England
            </div>
          </div>
          <div class="course-card-row">
            <img src="/assets/images/s-icons/ticket.png" />
            <div class="md-body-text course-sold-out">
              Sold Out
            </div>
          </div>
          <div class="course-card-row">
            <div class="course-card-score">
              <img src="/assets/images/s-icons/star.png" />
              <div class="md-body-text">
                4.92
              </div>
            </div>

            <a href="#" class="md-text-link course-card-link">
              Get Updates
              <img src="/assets/images/arrows/right.png" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 course-card">
        <div class="course-card-content">
          <div class="course-card-row">
            <img src="/assets/images/s-icons/calendar.png" />
            <div class="md-body-medium">
              May 11-15, 2020
            </div>
          </div>
          <div class="course-card-row">
            <img src="/assets/images/s-icons/map.png" />
            <div class="md-body-text">
              New York, New York
            </div>
          </div>
          <div class="course-card-row">
            <img src="/assets/images/s-icons/ticket.png" />
            <div class="md-body-text">
              Registration Open
            </div>
          </div>
          <div class="course-card-row">
            <div class="course-card-score">
              <img src="/assets/images/s-icons/star.png" />
              <div class="md-body-text">
                4.98
              </div>
            </div>

            <a href="#" class="md-text-link course-card-link course-learn-more-link">
              Learn more
              <img src="/assets/images/arrows/right.png" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 course-card">
        <div class="course-card-content">
          <div class="course-card-row">
            <img src="/assets/images/s-icons/calendar.png" />
            <div class="md-body-medium">
              September, 2020
            </div>
          </div>
          <div class="course-card-row">
            <img src="/assets/images/s-icons/map.png" />
            <div class="md-body-text">
              San Francisco
            </div>
          </div>
          <div class="course-card-row">
            <img src="/assets/images/s-icons/ticket.png" />
            <div class="md-body-text course-sold-out">
              Sold Out
            </div>
          </div>
          <div class="course-card-row">
            <div class="course-card-score">
              <img src="/assets/images/s-icons/star.png" />
              <div class="md-body-text">
                4.94
              </div>
            </div>

            <a href="#" class="md-text-link course-card-link">
              Get Updates
              <img src="/assets/images/arrows/right.png" />
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="section course-sms-section">
      <img src="/assets/images/s-icons/phone.png" />
      <div class="course-sms-instruction md-body-text">
        Text <span class="course-sms-focus">olive</span> to <span class="course-sms-focus">474747</span> (U.S. and
        Canada) to get an alert when new courses are open for registration.
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>
