<div class="auth-container">

  <img src='/assets/images/images/auth/background.png' alt="Olive Oil Times" class="background-image"
    id="auth-background" />

  <div class="auth-header">
    <a class="navbar-brand header-logo" href="/">
      <picture>
        <source srcset="/assets/logos/logo-blue-s.png" media="(max-width: 576px)" />
        <source srcset="/assets/logos/logo-blue.png" />
        <img src='/assets/logos/logo-blue.png' alt="Olive Oil Times" />
      </picture>
    </a>
  </div>

  <form class="auth-content" (ngSubmit)="login()">
    <h3 class="auth-heading">
      Welcome back.
    </h3>

    <div class="auth-row">
      <div class="sm-body-text">
        Email address
      </div>
      <input type="email" class="form-control md-input md-body-text" name="email" id="email"
        placeholder="you@example.com" [(ngModel)]="email">
    </div>

    <div class="auth-row">
      <div class="sm-body-text password-label">
        Password

        <a href="/forgot-pwd" class="md-text-link">
          Forgot password?
        </a>
      </div>
      <input type="password" class="form-control md-input md-body-text" name="password" id="password"
        placeholder="Enter 6 characters or more" [(ngModel)]="password">
    </div>

    <div class="alert alert-danger" role="alert" [hidden]="!errorMessage">
      {{errorMessage}}
    </div>

    <div class="auth-row" *ngIf="needsConfirmation">
      <button class="btn md-cta auth-button" type="button" (click)="sendConfirmation()">
        Send Confirmation mail
      </button>

      <div class="alert alert-info" role="alert" *ngIf="sentConfirmation">
        Confirmation email has been sent. <br />
        Please check your inbox to confirm your account.
      </div>
    </div>

    <div class="auth-row">
      <button class="btn md-cta auth-button" type="submit">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!loading"></span>
        Log In
      </button>
    </div>

    <div class="auth-row auth-divider">
      <div class="auth-divider-line"></div>
      <div class="md-body-text auth-divider-text">or</div>
      <div class="auth-divider-line"></div>
    </div>

    <div class="auth-row">
      <button class="btn md-cta auth-button google-button" type="button">
        <img src="/assets/images/images/auth/google.png">
        Log In with Google
      </button>
    </div>

    <div class="auth-row">
      <div class="signup-row md-body-text">
        Don't have an account? <a href="/signup" class="md-text-link">Sign up</a>
      </div>
    </div>
  </form>
</div>
