<div class="auth-container">

  <img src='/assets/images/images/auth/background.png' alt="Olive Oil Times" class="background-image"
    id="auth-background" />

  <div class="auth-header">
    <a class="navbar-brand header-logo" href="/">
      <picture>
        <source srcset="/assets/logos/logo-blue-s.png" media="(max-width: 576px)" />
        <source srcset="/assets/logos/logo-blue.png" />
        <img src='/assets/logos/logo-blue.png' alt="Olive Oil Times" />
      </picture>
    </a>
  </div>

  <div class="auth-content">
    <h3 class="auth-heading">
      Welcome back.
    </h3>

    <div class="auth-row">
      <div class="sm-body-text">
        Email address
      </div>
      <input type="email" class="form-control md-input md-body-text" id="email" aria-describedby="emailHelp"
        placeholder="you@example.com">
    </div>

    <div class="auth-row">
      <div class="sm-body-text password-label">
        Password

        <a href="#" class="md-text-link">
          Forgot password?
        </a>
      </div>
      <input type="email" class="form-control md-input md-body-text" id="email" aria-describedby="emailHelp"
        placeholder="you@example.com">
    </div>

    <div class="auth-row">
      <button class="btn md-cta auth-button">
        Log In
      </button>
    </div>

    <div class="auth-row auth-divider">
      <div class="auth-divider-line"></div>
      <div class="md-body-text auth-divider-text">or</div>
      <div class="auth-divider-line"></div>
    </div>

    <div class="auth-row">
      <button class="btn md-cta auth-button google-button">
        <img src="/assets/images/images/auth/google.png">
        Log In with Google
      </button>
    </div>

    <div class="auth-row">
      <div class="signup-row md-body-text">
        Don't have an account? <a href="/signup" class="text-link">Sign up</a>
      </div>
    </div>
  </div>
</div>
