// Container
.screen-container {
  flex: 1;
  width: 100%;
  height: 100%;

  position: absolute;
}

// Buttons
.lg-cta,
.md-cta,
.sm-cta {
  background-color: $blue;
  border-radius: 4px;
  color: $white;

  &:hover {
    background-color: #0e14a6;
    color: $white;
    text-decoration: none;
  }
}

.lg-cta-primary {
  border-radius: 4px;
  background-color: $white;
  color: $black;

  align-items: center;

  &:hover {
    color: $blue;
    background-color: $white;
    text-decoration: none;
  }

  .cta-icon {
    margin-left: 18px;
  }
}

.lg-cta,
.lg-cta-primary {
  padding: 22px 24px;
}

.md-cta {
  padding: 18px 24px;
}

.sm-cta {
  padding: 14px 20px 16px;

  &.md-buttons {
    min-width: 128px;
    text-align: center;
  }
}

// Dropdown menu
.dropdown-menu {
  background-color: transparent;
  border: none;

  @media #{$desktop} {
    padding: 24px 0 0;
  }

  @media #{$mobile} {
    padding: 8px 0 0;
  }
}

.dropdown-menu-content {
  margin-top: 0px;
  border: none;

  @media #{$desktop} {
    border-radius: 16px;
    background-color: $white;
    box-shadow: 0px 16px 72px rgba(30, 30, 30, 0.08);
    padding: 16px 24px;
  }

  @media #{$mobile} {
    padding: 8px 0 0;
    background-color: transparent;
    margin: 0;
  }

  .dropdown-item {
    padding: 8px;
    background-color: transparent;

    @media #{$desktop} {
      color: $black;
    }

    @media #{$mobile} {
      color: $white;
      text-align: center;
    }

    &:hover {
      color: $blue;
    }
  }
}

.sm-input {
  border: 1px solid $gray500;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;

  padding: 14px 18px 10px;
}
