// Container
.screen-container {
  flex: 1;
  width: 100%;
  height: 100%;

  position: absolute;
}

// Buttons
button:disabled,
.btn:disabled,
.icon-button:disabled {
  background: $gray600;
  color: $white;
  cursor: default;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background: $gray600;
    color: $white;

    img {
      filter: none;
    }
  }
}

button:focus,
button.focus,
.btn:focus,
.btn.focus {
  outline: none !important;
  box-shadow: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lg-cta,
.md-cta,
.sm-cta {
  background-color: $blue;
  border-radius: 4px;
  color: $white;

  &:hover {
    background-color: #0e14a6;
    color: $white;
    text-decoration: none;
  }
}

.lg-cta-primary,
.md-cta-primary,
.md-ghost,
.sm-cta-primary,
.sm-ghost {
  border-radius: 4px;
  background-color: $white;
  color: $black;

  align-items: center;

  &:hover {
    color: $blue;
    background-color: $white;
    text-decoration: none;
  }

  .cta-icon {
    margin-left: 18px;
  }
}

.lg-cta,
.lg-cta-primary {
  padding: 22px 24px;

  height: 64px;
}

.md-cta,
.md-cta-primary,
.md-ghost {
  padding: 18px 24px;

  font-style: normal;

  font-size: 17px;
  line-height: 20px;

  height: 56px;

  @media #{$mobile} {
    padding: 14px 20px 16px;

    font-size: 16px;
    line-height: 18px;
  }
}

.sm-cta-primary,
.sm-cta,
.sm-ghost {
  padding: 14px 20px 16px;
  height: 48px;

  &.md-buttons {
    text-align: center;
  }
}

.sm-ghost {
  border: 1px solid $gray500;
  min-width: 7vw;
}

.md-ghost {
  border: 1px solid $gray500;
}

.icon-button {
  width: 48px;
  height: 48px;
  pad: 12px;

  background-color: $white;
  border: 1px solid $gray500;
  border-radius: 4px;

  color: $black;

  img {
    width: 24px;
    height: 24px;
  }

  &:hover {
    color: $blue;

    img {
      filter: brightness(4);
    }
  }
}

// Dropdown menu
.dropdown {
  background-color: $white;

  .dropdown-menu {
    background-color: $white;
    box-shadow: 0px 16px 72px rgba(30, 30, 30, 0.08);
    padding: 16px 0;

    .dropdown-item {
      padding: 8px 24px;

      &.btn:focus {
        background-color: $gray400;
        color: $black;
      }
    }
  }
}

// Navbar Dropdown menu
.nav-item {
  &.dropdown {
    background-color: inherit;
  }

  .dropdown-menu {
    background-color: transparent;
    border: none;
    box-shadow: none;

    @media #{$desktop} {
      padding: 24px 0 0;
    }

    @media #{$smallScreen} {
      padding: 8px 0 0;
    }
  }

  .dropdown-menu-content {
    margin-top: 0px;
    border: none;

    @media #{$desktop} {
      border-radius: 16px;
      background-color: $white;
      box-shadow: 0px 16px 72px rgba(30, 30, 30, 0.08);
      padding: 16px 24px;
    }

    @media #{$smallScreen} {
      padding: 8px 0 0;
      background-color: transparent;
      margin: 0;
    }

    .dropdown-item {
      padding: 8px;
      background-color: transparent;

      @media #{$desktop} {
        color: $black;
      }

      @media #{$smallScreen} {
        text-align: center;
      }

      &:hover {
        color: $blue;
      }
    }
  }
}

.sm-input {
  border: 1px solid $gray500;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;

  padding: 14px 18px 10px;
}

.md-input {
  border: 1px solid $gray500;
  box-sizing: border-box;
  border-radius: 4px;
  height: 56px;

  padding: 17px 20px 12px;

  @media #{$mobile} {
    height: 48px;
    padding: 13px 18px 9px;
  }
}

.text-link {
  color: $blue;

  img {
    filter: brightness(4);
  }
}

button:focus,
button.focus,
input:focus,
input.focus {
  outline: none;
  box-shadow: none;
}

// Modal
.modal-header {
  align-items: center;
}
