// Fonts

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_Thin.otf) format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_Thin_Italic.otf)
    format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_ExtraLight.otf)
    format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_ExtraLight_Italic.otf)
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_Light.otf) format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_Light_Italic.otf)
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_Regular.otf)
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_Italic.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_Medium.otf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_Medium_Italic.otf)
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_Bold.otf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_Bold_Italic.otf)
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_ExtraBold.otf)
    format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_ExtraBold_Italic.otf)
    format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_Black.otf) format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_Black_Italic.otf)
    format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_ExtraBlack.otf)
    format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "TT-Norms-Pro";
  src: url(assets/fonts/TT_Norms_Pro/TT_Norms_Pro_ExtraBlack_Italic.otf)
    format("opentype");
  font-weight: 900;
  font-style: italic;
}
