// Color palette
$darkBlue: #232b6b;
$blue: #3238cb;
$aqua: #84edee;
$linen: #fbf3ea;
$orange: #ff7152;

$black: #0f142d;
$gray900: #3f4357;
$gray800: #6f7281;
$gray700: #9fa1ab;
$gray600: #cfd0d5;
$gray500: #e7e7ea;
$gray400: #f3f3f4;
$gray300: #f8f8f9;
$white: #ffffff;

$error: #f50000;
$success: #37cc4c;
$link: #3233cb;

// Screen size definition
$mobile: "only screen and (max-width : 576px)";
$desktop: "only screen and (min-width : 577px)";
