<div class="footer">
  <div class="footer-enroll-section">
    <picture>
      <source srcset="/assets/images/images/footer/background-1-mob.png" media="(max-width: 576px)" />
      <source srcset="/assets/images/images/footer/background-1.png" />
      <img src="/assets/images/images/footer/background-1.png" alt="Olive Oil Times"
        class="footer-background-image-1" />
    </picture>

    <div class="footer-content">
      <h2 class="footer-heading">
        {{ price > 0 ? formatPrice(price) : "Be an olive oil expert."}}
      </h2>
      <div class="lg-buttons footer-heading" *ngIf="price > 0 && status !== 'available'">
        {{status === "reserved" ? "Already enrolled" : status === "sold out" ? "Sold out" : "Enroll in program"}}
      </div>
      <button class="btn lg-cta-primary lg-buttons" *ngIf="price > 0 && status === 'available'" (click)="onEnroll()">
        Enroll in program
      </button>
      <a href="/course" class="lg-cta-primary lg-buttons" *ngIf="0 >= price">
        Enroll now
      </a>
    </div>
  </div>

  <div class="footer-links-section">
    <picture>
      <source srcset="/assets/images/images/footer/background-2.png" media="(min-width: 991px)" />
      <img src="/assets/images/images/footer/background-2.png" alt="Olive Oil Times"
        class="footer-background-image-2" />
    </picture>

    <div class="footer-content footer-links-content-wrapper">
      <div class="footer-links-content row">
        <div class="col-12 col-sm-4 col-lg-3 footer-logo-section">

          <a class="footer-logo-wrapper" href="/">
            <picture>
              <source srcset="/assets/logos/logo-s.png" media="(max-width: 576px)" />
              <source srcset="/assets/logos/logo.png" />
              <img src='/assets/logos/logo.png' alt="Olive Oil Times" class="footer-logo" />
            </picture>
          </a>

          <div class="sm-body-text d-none d-sm-block footer-copyright">
            © 2020 Olive Oil Times LLC. <br />
            All rights reserved.
          </div>
        </div>

        <div class="col-12 col-sm-4 col-lg-2 footer-company-section">
          <h6 class="footer-links-title">
            Company
          </h6>
          <div class="footer-links-group">
            <a href="/course" class="sm-body-list">All courses</a>
            <a href="/faq" class="sm-body-list">FAQ</a>
            <a href="/about" class="sm-body-list">About</a>
            <a href="/blog" class="sm-body-list">Blog</a>
            <a href="https://oliveoilsommelier.org/" class="sm-body-list">Sommelier Registry</a>
          </div>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 footer-legal-section">
          <h6 class="footer-links-title">
            Legal
          </h6>
          <div class="footer-links-group">
            <a href="#" class="sm-body-list">Legal Notice</a>
            <a href="#" class="sm-body-list">Privacy Policy</a>
            <a href="#" class="sm-body-list">Terms of Use</a>
          </div>
        </div>

        <div class="col-md-0 d-none d-lg-flex col-lg-4 footer-links-signup-wrapper">
          <h6 class="footer-links-title">
            Ready to learn?
          </h6>
          <div class="footer-links-signup">
            <div class="email-input-wrapper">
              <input type="email" class="form-control sm-input sm-body-text" id="email" aria-describedby="emailHelp"
                placeholder="Your Email">
            </div>
            <a href="#" class="sm-cta md-buttons footer-sign-up-btn">Sign up</a>
          </div>
        </div>

        <div class="col-sm-12 sm-body-text d-xs-block d-sm-none footer-copyright">
          © 2020 Olive Oil Times LLC. <br />
          All rights reserved.
        </div>
      </div>
    </div>
  </div>
</div>
