@import "src/assets/styles/variables";

.footer,
.footer-enroll-section,
.footer-links-section {
  position: relative;
}

.footer-enroll-section {
  overflow-x: hidden;
}

.footer-background-image-1 {
  width: 100%;
  z-index: 2;

  padding: 0 10vw 0 0;
}

.footer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate((-50%, -50%));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .footer-heading {
    color: $white;
    margin-bottom: 3.5vw;
  }
}

.footer-links-section {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: -1;

  top: 20vw;
  background-color: transparent;
}

.footer-background-image-2 {
  width: 100%;
}

.footer-links-content-wrapper {
  width: 90%;
  padding: 0 5vw;
  margin-top: 24vw;
}

.footer-links-content {
  width: 100%;

  .footer-logo-wrapper {
    margin: 14px 0;
  }

  .footer-logo {
    filter: brightness(0);
    width: 190px;
  }

  .footer-copyright {
    margin: 28px 0;
  }

  .footer-links-title {
    margin: 0 0 20px;
  }

  .footer-links-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 20px 0 0;

    a {
      color: $gray900;
      margin: 5px 0;

      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }

  .footer-links-signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .email-input-wrapper {
      margin: 10px;
    }
  }
}

.footer-company-section {
  margin: 0.5vw 0 0 4vw;
}

.footer-legal-section {
  margin: 0.5vw -6vw 0 2vw;
}

.footer-links-signup-wrapper {
  margin: 0.5vw 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.footer-sign-up-btn {
  min-width: 100px;
}

@media #{$tablet} {
  .footer-background-image-1 {
    padding: 0;
  }

  .footer-content {
    transform: translate(-45%, -50%);

    .footer-heading {
      margin-bottom: 4.2vw;
    }
  }

  .footer-links-section {
    width: 100%;
    height: 60vw;
    top: 30vw;
    background-color: $gray300;
  }

  .footer-background-image-2 {
    display: none;
  }

  .footer-links-content-wrapper {
    margin-left: -5%;
    margin-top: 10vw;
    padding: 0;
    width: 88%;
  }

  .footer-company-section {
    margin: 0.5vw 0 0 4vw;
  }

  .footer-legal-section {
    margin: 0.5vw -6vw 0 2vw;
  }

  .footer-links-signup-wrapper {
    margin: 0.5vw 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
}

@media #{$mobile} {
  .footer-logo-section {
    text-align: center;
  }

  .footer-links-content > div {
    margin: 28px 0;
  }

  .footer-background-image-1 {
    padding: 0;
  }

  .footer-logo {
    width: 133px;
  }

  .footer-content {
    .footer-heading {
      margin-bottom: 10vw;
    }
  }

  .footer-links-section {
    width: 100%;
    height: 120%;
    top: 45vw;
    background-color: $gray300;
  }

  .footer-background-image-2 {
    display: none;
  }

  .footer-links-content-wrapper {
    margin-top: calc(300px + 20vw);
    width: 100%;
    background-color: $gray300;
  }

  .footer-links-content {
    .footer-copyright {
      text-align: center;
    }

    .footer-links-group {
      align-items: center;
    }
  }
}
