@import "src/assets/styles/variables";

.footer,
.footer-enroll-section,
.footer-links-section {
  position: relative;
}

.footer-enroll-section {
  overflow-x: hidden;
}

.footer-background-image-1 {
  width: 100%;
  z-index: 2;

  @media #{$desktop} {
    padding: 0 10vw 0 0;
  }

  @media #{$tablet} {
    width: 120%;
    margin-left: -5%;
  }
}

.footer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate((-50%, -50%));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .footer-heading {
    color: $white;

    @media #{$desktop} {
      margin-bottom: 3.5vw;
    }

    @media #{$tablet} {
      margin-bottom: 4.2vw;
    }

    @media #{$mobile} {
      margin-bottom: 10vw;
    }
  }
}

.footer-links-section {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: -1;

  background-color: $gray300;

  @media #{$desktop} {
    top: 20vw;
    background-color: transparent;
  }

  @media #{$tablet} {
    width: 100%;
    height: 150%;
    top: 30vw;
  }

  @media #{$mobile} {
    width: 100%;
    height: 120%;
    top: 45vw;
  }
}

.footer-background-image-2 {
  width: 100%;

  @media #{$smallScreen} {
    display: none;
  }
}

.footer-links-content-wrapper {
  width: 90%;
  padding: 0 11vw;

  @media #{$desktop} {
    margin-top: 24vw;
  }

  @media #{$mobile} {
    margin-top: 80vw;
    width: 100%;
    background-color: $gray300;
  }

  @media #{$tablet} {
    margin-top: 10vw;
    padding: 0 3vw;
  }
}

.footer-links-content {
  width: 100%;

  .footer-logo-wrapper {
    margin: 14px 0;
  }

  .footer-copyright {
    margin: 28px 0;

    @media #{$mobile} {
      text-align: center;
    }
  }

  .footer-links-title {
    margin: 0 0 20px;
  }

  .footer-links-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media #{$desktop} {
      align-items: flex-start;
    }

    @media #{$mobile} {
      align-items: center;
    }

    margin: 20px 0 0;

    a {
      color: $gray900;
      margin: 5px 0;

      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }

  .footer-links-signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .email-input-wrapper {
      margin: 10px;
    }
  }
}

@media #{$mobile} {
  .footer-logo-section {
    text-align: center;
  }

  .footer-links-content > div {
    margin: 28px 0;
  }
}

@media #{$desktop} {
  .footer-company-section {
    margin: 0.5vw 0 0 4vw;
  }

  .footer-legal-section {
    margin: 0.5vw -6vw 0 2vw;
  }

  .footer-links-signup-wrapper {
    margin: 0.5vw 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
}

@media #{$tablet} {
  .footer-company-section {
    margin: 0.5vw 0 0 4vw;
  }

  .footer-legal-section {
    margin: 0.5vw -6vw 0 2vw;
  }

  .footer-links-signup-wrapper {
    margin: 0.5vw 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
}

.footer-sign-up-btn {
  min-width: 128px;
}
