<form clrForm [formGroup]="menuForm" clrLayout="vertical" (ngSubmit)="onSubmit()" *ngIf="!loading">
  <clr-input-container>
    <label>Title</label>
    <input clrInput type="text" formControlName="title" required />
    <clr-control-error>The Title is required</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Link</label>
    <input clrInput type="text" formControlName="link" />
  </clr-input-container>
  <clr-select-container>
    <label>Parent</label>
    <select clrSelect formControlName="parent">
      <option *ngFor="let menu of menus" value="{{ menu.id }}">{{ menu.title }}</option>
    </select>
    <clr-control-helper>Specify if this menu is a child of another</clr-control-helper>
  </clr-select-container>

  <button class="btn btn-primary pull-right" type="submit" [disabled]="!menuForm.valid" *ngIf="!loading">Submit</button>
</form>

<clr-spinner *ngIf="loading"></clr-spinner>
