<div class="screen-container">

  <img src='/assets/images/images/normal-background.png' alt="Olive Oil Times" class="background-image"
    id="faq-background-1" />

  <app-header [lightHeader]="false"></app-header>

  <div class="row section faq-container">
    <div class="col-12 order-0 hero faq-heading-title">
      Frequently Asked Questions
    </div>

    <div class="col-12 faq-items-section">
      <div class="faq-item" *ngFor="let faq of faqs; let i = index">
        <a href="#faq-item-content-{{i}}" role="button" data-toggle="collapse" data-target="faq-item-content-{{i}}"
          class="faq-item-title lg-body-medium collapsed">
          <div class="faq-item-title-text">
            {{faq.title}}
          </div>

          <img src="/assets/images/s-icons/plus.png" class="collapsed-icon toggle-icon" />
          <img src="/assets/images/s-icons/minus.png" class="expanded-icon toggle-icon" />
        </a>
        <div id="faq-item-content-{{i}}" class="collapse faq-item-content md-body-text">
          {{faq.content}}
        </div>
      </div>
    </div>

  </div>

  <app-footer></app-footer>

</div>
