{% extends 'shell.html.twig' %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        Lorem ipsum dolor sit amet.
      </p>
    </div>
  </section>
{% endblock %}
