<!DOCTYPE html>
<html>
  <head>
    <base href="/assets/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}
    {% endblock %}

    {% include 'assets.html' %}
    <app-root/>
  </body>
</html>
