<div class="screen-container">

  <img src='/assets/images/images/normal-background.png' alt="Olive Oil Times" class="background-image"
    id="terms-background-1" />

  <app-header [lightHeader]="false"></app-header>

  <div class="row section terms-container">
    <div class="col-12 order-0 hero terms-heading-title">
      Terms and Conditions
    </div>

    <p><br>Please note that our courses sometimes sell out before we are able to close online registration. After you
      enroll, we will contact you to confirm your registration. If your chosen class is full, you will receive a full
      refund.</p>

    <p><strong>CANCELATION AND REFUNDS</strong></p>

    <p>Enrollment cancellations made at least 14 days prior to the start of a course are fully refundable, minus a 1%
      administrative fee. Cancelations made less than 14 days are not refundable.</p>

    <p><strong>EXCLUSION OF LIABILITY</strong></p>

    <p>Olive Oil Times LLC makes no representations or warranties as to the quality, suitability, or merchantability of
      any of the goods or services offered by Olive Oil Times LLC.</p>

    <p>Except as prohibited by law, Olive Oil Times LLC shall not be liable for any loss or damage suffered or sustained
      by any participant or any third party for any reason (including, but not limited to, consequential loss, loss of
      revenue, loss of profit or economic loss), including for personal injury or property damage suffered or sustained,
      as a result of participation in the course.</p>

    <p>Each participant agrees to indemnify, defend, and hold harmless Olive Oil Times LLC from and against any and all
      liability, cost, loss, damages, or expense, including, but not limited to, for personal injury or damage to
      property arising out of or relating to such participant’s participation in an Olive Oil Times LLC course whether
      such liability, cost, loss, damage, or expense is direct, indirect, consequential, foreseeable, due to some act or
      omission of Olive Oil Times LLC, or otherwise.</p>

    <p>Olive Oil Times LLC may disqualify any participant from participating in the course at any time and for any
      reason, and each participant agrees and acknowledges that Olive Oil Times LLC will not be liable for any loss,
      cost, damages, or expenses incurred by any such disqualified participant under any circumstances.</p>

    <p>CONTACT – If a participant has any questions regarding Olive Oil Times LLC, please contact us via the live chat
      function on the Olive Oil Times Education Lab website, via email at support@oliveoilschool.org, or by phone at (1)
      415-997-5600.</p>

    <p><strong>AGREEMENT FOR PERMISSION TO USE PHOTO AND IMAGES AND RELEASE AND WAIVER</strong></p>

    <p>I by this release and waiver agreement (the “Agreement”) give my permission to Olive Oil Times LLC to use my
      images and likeness, whether those images are portrayed or taken by photograph, drawing, video or otherwise,
      (“Content”) for its commercial purposes, including but not limited to promotion or education about it products,
      and for it general use. such general use shall include but not be limited to print media, internet, radio,
      television, or other publications. This information may be used by Olive Oil Times LLC perpetually and throughout
      the world. I confirm that, as of this date of signing, I am eighteen years of age or older. I can revoke this
      permission and release at any time by providing written notice to Olive Oil Times LLC sent by registered US Mail.
    </p>

    <p>Subject to applicable law, if for any reason, including, but not limited to, by reason of acts of God, wars, acts
      of terrorism, revolution, civil commotion, acts of public enemy, embargo, acts of government in its sovereign
      capacity, labor difficulties, or any other circumstances beyond the reasonable control of Olive Oil Times LLC,
      Olive Oil Times LLC is not capable of operating the course as planned, Olive Oil Times LLC reserves the right, at
      its sole discretion, to cancel, terminate, modify or suspend the course, and Olive Oil Times LLC shall not be
      liable for any losses, causes of action, claims, or damages arising from any such cancelation, termination,
      modification, or suspension.</p>

    <p><strong>Release Provision</strong></p>

    <p>I understand and agree that the Images may be released to the public. Once released, this information is no
      longer protected and may be accessed by the public. Therefore, I hereby release and waive claims against Olive Oil
      Times LLC, its agents, employees, successors, representatives, assigns and contractors and any other persons
      involved with taking or producing the Content (“Released Parties) from any and all liability which may or could
      arise therefrom as follows:</p>

    <p>I grant to Olive Oil Times LLC the absolute and irrevocable right and unrestricted permission concerning any of
      the Content, to use, reuse, publish, and republish the photographs in whole or in part, individually or in
      connection with other material, in any and all media now or hereafter known, including the internet, and for any
      purpose whatsoever, specifically including illustration, promotion, art, editorial, advertising, and trade,
      without restriction as to alteration; and to use my name in connection with any use, if Olive Oil Times LLC so
      chooses.</p>

    <p>I release and forever discharge Released Parties / Olive Oil Times LLC from any and all claims and demands that
      may arise out of or in connection with the use of the Content, including without limitation any and all claims for
      libel or violation of any right of publicity or privacy. This authorization and release shall also inure to the
      benefit of the successors, heirs, legal representatives, licensees, and assigns of Olive Oil Times LLC, as well as
      the person(s) or entities for whom the photographs were taken. I am a legally competent adult and have the right
      to contract in my own name. I have read this document and fully understand its contents. I have had an opportunity
      to consult counsel. This release shall be binding upon me and my heirs, successors, legal representatives, and
      assigns.</p>

  </div>

  <app-footer></app-footer>

</div>
