@import "src/assets/styles/variables";

#terms-background-1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 152px;
  z-index: -1;
}

.terms-container {
  padding: 0;
  margin: calc(156px + 3.25vw) 15.6vw 0;
}

.terms-heading-title {
  text-align: center;
  margin: 0 0 3.25vw;
  padding: 0 8.5vw;
}

@media #{$tablet} {
  #terms-background-1 {
    top: 112px;
  }

  .terms-container {
    margin: calc(112px + 3vw) 5.86vw 0;
  }

  .terms-heading-title {
    margin: 0 0 3.25vw;
    padding: 0 21.2vw;
  }
}

@media #{$mobile} {
  #terms-background-1 {
    display: none;
  }

  .terms-container {
    margin: 96px 24px 0;
  }

  .terms-heading-title {
    margin: 0 0 24px;
    padding: 0;
  }
}
