<section class="hero" style="background: url('assets/images/cta.png');background-size: cover">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="columns">
				<div class="column">
					<h3 class="title is-spaced">World-Class Olive Oil Education</h3>
					<h4 class="subtitle">Innovative programs to empower a generation of olive oil experts.</h4>
					<div class="buttons is-centered">
						<a class="control button is-primary" href="#">Upcoming courses</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container has-text-centered">
	<div class="columns">
		<div class="column banner">
			<h1 class="title">
				You need to know this.
			</h1>
			<p class="banner-text">
				Join the growing community of impassioned experts who are using their knowledge to make big things
				happen.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="grey-box">
				<h4 class="grey-box-title">Retailers</h4>
				<p>Learn how to choose high-quality olive oils and communicate their benefits to customers.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="grey-box">
				<h4 class="grey-box-title">Importers & Distributors</h4>
				<p>Source better products and get what you pay for every time.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="grey-box">
				<h4 class="grey-box-title">Producers</h4>
				<p>Learn harvesting, milling and production best practices to make award-winning oils.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="grey-box">
				<h4 class="grey-box-title">Chefs & Restaurateurs</h4>
				<p>Get the most value from your key ingredient and win customers.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="grey-box">
				<h4 class="grey-box-title">Foodservice Professionals</h4>
				<p>Know how to source authentic products and manage quality through the supply chain.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="grey-box">
				<h4 class="grey-box-title">Everyone Else</h4>
				<p>If you care about the food you eat, this course will change your life.</p>
			</div>
		</div>
	</div>
</div>
<section class="news-box top-margin">
	<div class="container">
		<h2><span>New Courses</span></h2>
		<div class="row">

			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="newsBox">
					<div class="thumbnail">
						<figure><img src="assets/images/news2.jpg" alt=""></figure>
						<div class="caption maxheight2">
							<div class="box_inner">
								<div class="box">
									<div class="title">
										<h5>Developer</h5>
									</div>
									<p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum
										molestie lacuiirhs. Aenean.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="newsBox">
					<div class="thumbnail">
						<figure><img src="assets/images/news3.jpg" alt=""></figure>
						<div class="caption maxheight2">
							<div class="box_inner">
								<div class="box">
									<div class="title">
										<h5>Photography </h5>
									</div>
									<p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum
										molestie lacuiirhs. Aenean.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="newsBox">
					<div class="thumbnail">
						<figure><img src="assets/images/news4.jpg" alt=""></figure>
						<div class="caption maxheight2">
							<div class="box_inner">
								<div class="box">
									<div class="title">
										<h5>Audio Editing</h5>
									</div>
									<p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum
										molestie lacuiirhs. Aenean.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="title-box clearfix ">
				<h2 class="title-box_primary">About Us</h2>
			</div>
			<p><span>Perspiciatis unde omnis iste natus error sit voluptatem. Cum sociis natoque penatibus et magnis
					dis parturient montes ascetur ridiculus musull dui.</span></p>
			<p>Lorem ipsumulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient
				montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio.</p>
			<p>Lorem ipsumulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient
				montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio.</p>
			<a href="#" title="read more" class="btn-inline " target="_self">read more</a>
		</div>


		<div class="col-md-4">
			<div class="title-box clearfix ">
				<h2 class="title-box_primary">Up Coming Courses</h2>
			</div>
			<div class="list styled custom-list">
				<ul>
					<li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
							href="#">Mathematics and Computer Science</a></li>
					<li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
							href="#">Mathematics and Philosophy</a></li>
					<li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Philosophy
							and Modern Languages</a></li>
					<li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci."
							href="#">History (Ancient and Modern)</a></li>
					<li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
							href="#">Classical Archaeology and Ancient History</a></li>
					<li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
							href="#">Physics and Philosophy</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>