<div class="screen-container">

  <picture>
    <source srcset="/assets/images/images/home-background-1-mob.png" media="(max-width: 576px)" />
    <source srcset="/assets/images/images/home-background-1.png" />
    <img src='/assets/images/images/home-background-1.png' alt="Olive Oil Times" class="background-image"
      id="home-background-1" />
  </picture>

  <app-header [lightHeader]="true"></app-header>

  <div class="home-container">
    <div class="row section home-heading-section">
      <div class="col-sm-0 hidden-sm hidden-xs col-md-1"></div>
      <div class="col-sm-12 col-md-6 home-heading-text">
        <div class="hero home-heading-title">
          World-Class <br /> Olive Oil Education
        </div>
        <div class="lg-subtitle home-heading-subtitle">
          Innovative programs to empower a generation of olive oil experts
        </div>
        <div class="home-heading-button-container">
          <a href="#" class="lg-cta-primary lg-buttons">
            Upcomming courses
            <img src="/assets/images/arrows/right-long.png" alt="Right Arrow" class="cta-icon" />
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="home-olive-oil-container">
          <img src="/assets/images/images/home-olive-oil.png" alt="Olive Oil Times" class="home-olive-oil" />
        </div>
      </div>
      <div class="col-sm-0 hiddem-sm hidden-xs col-md-1"></div>
    </div>

    <div class="section home-advertise-section row">
      <div class="col-sm-12">
        <h2 class="home-advertise-title">
          You need to know this.
        </h2>
        <div class="md-subtitle home-advertise-subtitle">
          Join the growing community of impassioned experts who are using their knowledge to make big things
          happen.
        </div>
      </div>
      <div class="col-sm-12 row home-advertise-content">
        <div class="col-sm-12 col-md-6 col-lg-4 home-advertise-item">
          <img src="/assets/images/images/home-advertise-icons/retailers.png" class="home-advertise-item-icon" />
          <h6 class="home-advertise-item-title">Retailers</h6>
          <div class="md-body-text home-advertise-text">
            Learn how to choose high-quality olive oils and communicate their benefits to customers.
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 home-advertise-item">
          <img src="/assets/images/images/home-advertise-icons/importers.png" class="home-advertise-item-icon" />
          <h6 class="home-advertise-item-title">Importers & Distributors</h6>
          <div class="md-body-text home-advertise-text">
            Source better products and get what you pay for every time.
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 home-advertise-item">
          <img src="/assets/images/images/home-advertise-icons/producers.png" class="home-advertise-item-icon" />
          <h6 class="home-advertise-item-title">Producers</h6>
          <div class="md-body-text home-advertise-text">
            Learn harvesting, milling and production best practices to make award-winning oils.
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 home-advertise-item">
          <img src="/assets/images/images/home-advertise-icons/chefs.png" class="home-advertise-item-icon" />
          <h6 class="home-advertise-item-title">Chefs & Restaurateurs</h6>
          <div class="md-body-text home-advertise-text">
            Get the most value from your key ingredient and win customers.
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 home-advertise-item">
          <img src="/assets/images/images/home-advertise-icons/foodservice.png" class="home-advertise-item-icon" />
          <h6 class="home-advertise-item-title">Foodservice Professionals</h6>
          <div class="md-body-text home-advertise-text">
            Know how to source authentic products and manage quality through the supply chain.
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 home-advertise-item">
          <img src="/assets/images/images/home-advertise-icons/everyone.png" class="home-advertise-item-icon" />
          <h6 class="home-advertise-item-title">Everyone Else</h6>
          <div class="md-body-text home-advertise-text">
            If you care about the food you eat, this course will change your life.
          </div>
        </div>
      </div>
      <div class="col-sm-12 home-advertise-button">
        <a href="#" class="md-cta">
          See all courses
        </a>
      </div>
    </div>
  </div>

</div>
