<div class="screen-container">

  <picture>
    <source srcset="/assets/images/images/about-background-1.png" />
    <img src='/assets/images/images/about-background-1.png' alt="Olive Oil Times" class="background-image"
      id="about-background-1" />
  </picture>

  <app-header [lightHeader]="false"></app-header>

  <div class="row section about-container">
    <div class="col-sm-12 hero about-heading-title">
      An olive oil program in a class of its own.
    </div>
    <div class="col-sm-12 order-sm-2 col-md-7 about-text-section lg-body-text">
      <p>
        The Olive Oil Times Education Lab Sommelier Certificate Program is organized by the world’s leading source for
        olive oil news and information.
      </p>
      <p>
        The interactive, fast-paced curriculum is designed to inspire and empower a new
        generation of olive oil experts and educators.
      </p>
      <p>
        Students are exposed to an astounding variety of olive oils,
        drawn from the 1,000-sample library maintained by Olive Oil Times, the organizer of the NYIOOC World Olive Oil
        Competition.
      </p>
      <p>
        Instructors are renowned professionals from diverse regions who offer a variety of perspectives and
        a deep knowledge on topics ranging from olive oil production, quality assessment, health aspects and culinary
        applications, to name a few.
      </p>
      <p>
        Courses are offered at the International Culinary Center campus in New York, and
        select locations abroad.
      </p>
      <p>
        The program is directed by Curtis Cord, the president of Olive Oil Times.
      </p>
    </div>
    <div class="col-sm-12 order-sm-1 col-md-5 about-info-section">
      <div id="about-program-director">
        <img src="/assets/images/images/about-program-director.png" alt="Olive Oil Times"
          id="about-program-director-avatar" />
        <div id="about-program-director-text">
          <h5>
            Curtis Cord
          </h5>
          <div class="md-body-text" id="about-program-director-subtitle">
            Program Director
          </div>
        </div>
      </div>
      <div id="about-info-logos">
        <img src="/assets/logos/logo.png" />
        <img src="/assets/images/images/about-icc-logo.png" />
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>
