<clr-spinner *ngIf="loading"></clr-spinner>

<h4>{{pageTitle}}</h4>

<button type="button" class="btn btn-link" (click)="onAddOption()">
  <clr-icon shape="plus"></clr-icon> Add New Option
</button>
/
<button type="button" class="btn btn-link" (click)="goBack()">
  <clr-icon shape="undo"></clr-icon> Back
</button>

<clr-datagrid>
  <clr-dg-column [clrDgField]="'title'">Title</clr-dg-column>
  <clr-dg-column [clrDgField]="'price'">Price</clr-dg-column>
  <clr-dg-column [clrDgField]="'dates'">Dates</clr-dg-column>
  <clr-dg-column [clrDgField]="'combo'">Combo</clr-dg-column>
  <clr-dg-column [clrDgField]="'created_at'">Created at</clr-dg-column>
  <clr-dg-column [clrDgField]="'updated_at'">Last update</clr-dg-column>
  <clr-dg-column [clrDgField]="'deleted_at'">Deleted?</clr-dg-column>
  <clr-dg-column>Options</clr-dg-column>

  <clr-dg-row *clrDgItems="let option of options" (click)="onEditOption(option)" style="cursor: pointer;">
    <clr-dg-cell>{{option.title}}</clr-dg-cell>
    <clr-dg-cell>{{option.curPrice}}</clr-dg-cell>
    <clr-dg-cell>{{option.dates.join(', ')}}</clr-dg-cell>
    <clr-dg-cell>{{option.combo ? 'Yes' : 'No'}}</clr-dg-cell>
    <clr-dg-cell>{{option.createdAt | date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{option.updatedAt | date:'short'}}</clr-dg-cell>
    <clr-dg-cell>{{option.deletedAt | date:'short'}}</clr-dg-cell>
    <clr-dg-cell>
      <button type="button" class="btn btn-sm btn-secondary" (click)="onAction(option)">
        <clr-icon shape="trash" *ngIf="!option.deletedAt"></clr-icon>
        <clr-icon shape="backup-restore" *ngIf="option.deletedAt"></clr-icon>
        {{option.deletedAt ? "Restore" : "Remove"}}
      </button>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{options.length}} options</clr-dg-footer>
</clr-datagrid>

<form clrForm [formGroup]="optionForm" clrLayout="vertical" (ngSubmit)="onSubmit()" *ngIf="!loading && showForm">
  <clr-input-container>
    <label>Title</label>
    <input clrInput type="text" formControlName="title" required />
    <clr-control-error>The title is required</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Price</label>
    <input clrInput type="number" min="1" step="any" formControlName="price" required />
    <clr-control-error>The price is required</clr-control-error>
  </clr-input-container>
  <clr-toggle-wrapper>
    <label>Is this a combo option?</label>
    <input type="checkbox" clrToggle formControlName="combo" />
  </clr-toggle-wrapper>

  <div formArrayName="dates">
    <div *ngFor="let date of dates.controls; let i=index" class="date-wrapper">
      <clr-date-container>
        <label>Course date</label>
        <input type="date" clrDate [formControlName]="i" />
      </clr-date-container>

      <button type="button" class="btn btn-icon btn-sm btn-secondary" (click)="removeDate(i)" *ngIf="i">
        <clr-icon shape="trash"></clr-icon>
      </button>
    </div>

    <button type="button" class="btn btn-sm btn-secondary" (click)="addDate()">Add date</button>
  </div>

  <button class="btn btn-primary pull-right" type="submit" [disabled]="!optionForm.valid" *ngIf="!loading">Save</button>
</form>
